<div class="main-container">
  <div class="section">
    <div class="container">
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
      <div class="row">
        <div class="col-sm-8" id="forgot-password">
          <div class="login-block">
            <div class="page-title">
              <h2>Change Your Password</h2>
            </div>

            <p>Enter your new password for your Brand Cruz account & enjoy shopping.</p>

            <div class="vspace15px"></div>


            <div class="col-sm-6 reset-padding">
              <%= form_for @spree_user, :as => :spree_user, :url => spree.update_password_path, :method => :put do |f| %>


                  <div class="form-group">
                    <div class="input-wrap">
                      <p>
                        <%= f.password_field :password, :class => 'form-control required', :placeholder => 'Enter New Password' %>
                        <span class="form-error"></span>
                      </p>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="input-wrap">
                      <p>
                        <%= f.password_field :password_confirmation, :class => 'form-control required', :placeholder => 'Confirm Password' %>
                        <span class="form-error"></span>
                      </p>
                    </div>
                  </div>
                  <%= f.hidden_field :reset_password_token %>
                  <p>
                    <%= f.submit :Continue, class: 'button button-primary' %>
                  </p>

              <% end %>
            </div>
          </div>

        </div>
      </div>

      <%= render 'spree/shared/service_section' %>
    </div>
  </div>
</div>

<%= render 'spree/shared/form_validation_script' %>


<%#= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
<!--<div class="col-md-6 col-md-offset-3">-->
  <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title"><%#= Spree.t(:change_your_password) %></h3>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
      <!--<%#= form_for @spree_user, :as => :spree_user, :url => spree.update_password_path, :method => :put do |f| %>-->
        <!--<p>-->
          <!--<%#= f.label :password, Spree.t(:password) %>-->
          <!--<%#= f.password_field :password, :class => "form-control" %>-->
        <!--</p>-->
        <!--<p>-->
          <!--<%#= f.label :password_confirmation, Spree.t(:confirm_password) %>-->
          <!--<%#= f.password_field :password_confirmation, :class => "form-control" %>-->
        <!--</p>-->
        <!--<%#= f.hidden_field :reset_password_token %>-->
        <!--<%#= f.submit Spree.t(:update), :class => 'btn btn-lg btn-success btn-block' %>-->
      <!--<%# end %>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
