<div class="main-container">
  <div class="section">
    <div class="container">
      <%#= render :partial => 'spree/shared/error_messages', :locals => {:target => @spree_user} %>
      <div class="row">
        <div class="col-sm-8" id="forgot-password">
          <div class="login-block">
            <div class="page-title">
              <h2>Forgot Your Password?</h2>
            </div>

            <p>Enter the email address for your Brand Cruz account & we'll email you a link to reset your password.</p>

            <div class="vspace15px"></div>


            <div class="col-sm-6 reset-padding">
              <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>


                  <div class="form-group">
                    <div class="input-wrap">
                      <p>
                        <%= f.email_field :email, :class => 'login-inputx form-control required', :placeholder => 'Enter Email Address' %>
                        <span class="form-error"></span>
                      </p>
                    </div>
                  </div>
                  <p>
                    <%= f.submit :Continue, class: 'button button-primary' %>
                  </p>

              <% end %>
            </div>
          </div>

        </div>
      </div>

      <%= render 'spree/shared/service_section' %>


      <%#= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
      <!--<div class="col-md-6 col-md-offset-3" id="forgot-password">-->
      <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading">-->
      <!--<h3 class="panel-title"><%#= Spree.t(:forgot_password) %></h3>-->
      <!--</div>-->
      <!--<div class="panel-body">-->
      <!--<p><%#= Spree.t(:instructions_to_reset_password) %></p>-->

      <!--<%#= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>-->
      <!--<p>-->
      <!--<%#= f.label :email, Spree.t(:email) %>-->
      <!--<%#= f.email_field :email, :class => "form-control" %>-->
      <!--</p>-->
      <!--<p>-->
      <!--<%#= f.submit Spree.t(:reset_password), :class => 'btn btn-lg btn-success btn-block' %>-->
      <!--</p>-->
      <!--<%# end %>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

    </div>
  </div>
</div>

<%= render 'spree/shared/form_validation_script' %>
