<div>
  <div>
    <p> HELLO <%= @order.ship_address.name %>!, THANK YOU FOR YOUR ORDER</p>
  </div>
  <div style="margin: 10px 0;">
    <b>Details of your order are listed below:</b>
  </div>
  <div>
    <table style="width: 100%; margin: 20px 0;">
      <tr>
        <td style="padding: 0"><b>Order:</b> <%= @order.number %></td>
      </tr>
      <tr>
        <td style="padding: 0"><b>Placed:</b> <%= @order.completed_at.strftime("%m/%d/%Y %H:%M") %></td>
      </tr>
      <tr>
        <td style="padding: 0"><b>Status:</b> Pending</td>
      </tr>
    </table>
  </div>
  <div class="view-account-button">
    <a style="background: #111111; padding: 10px 15px; display: inline-block; color: #fdfdfd;" href="<%= spree.order_url(@order) %>">
      <b> VIEW YOUR ORDER </b>
    </a>
  </div>
  <div style="margin-top: 20px;">
    <h4 style="color: #444444; margin-bottom: 20px">ORDER DETAILS</h4>

    <table class="order-details-table">
      <thead>
      <tr>
        <th> Product Name</th>
        <th> Price</th>
        <th> Qty</th>
      </tr>
      </thead>
      <tbody>
      <% @order.line_items.each do |item| %>
          <tr>
            <td style="width: 75%;">
              <table style="width: 100%;">
                <tr>
                  <td style="border-bottom: none;">
                    <% if item.variant.present? %>
                        <img src="<%= item.variant.images.present? ? item.variant.images.first.image_link : 'assets/not_available.png' %>" alt="product image"/>
                    <% end %>
                  </td>
                  <td style="border-bottom: none; padding-left: 10px;">
                    <b> <%= item.product.brand.name if item.product.brand.present? %> </b> <br/>
                    <b> <%= raw item.product.name %> </b> <br/>
                    <b style="color: #aaaaaa;"> <%= item.product.id %> </b> <br/>
                    <b> Size: <%= item.size %> </b> <br/>
                    <b> Color: <%= item.variant.color %> </b>
                  </td>
                </tr>
              </table>
            </td>
            <td><%= price_with_currency(item.variant.price) %></td>
            <td><%= item.quantity %></td>
          </tr>
      <% end %>
      <tr>
        <td colspan="3">
          <h2> Order summary </h2>
          <table style="width: 100%">
            <tbody>
            <tr>
              <td style="width: 50%;">Order Subtotal</td>
              <td style="width: 50%; text-align: right">
                <%= order_total_amount_with_currency(@order) %>
              </td>
            </tr>
            <% if @order.promotions.present? %>
                <tr>
                  <td style="width: 50%;"> Discount / coupon</td>
                  <td style="width: 50%; text-align: right"> <%= price_with_currency(@order.adjustment_total) %> </td>
                </tr>
            <% end %>
            <tr>
              <td style="width: 50%;">Estimated Shipping</td>
              <td style="color: #c6000e !important; text-align: right;">Free</td>
            </tr>

            <tr>
              <td style="width: 50%;">Estimated Sales Tax</td>
              <td style="text-align: right; width: 50%;">Tax included in price</td>
            </tr>

            <tr>
              <td style="width: 50%;">Order Total</td>
              <td style="text-align: right; width: 50%;">
                <%= price_with_currency(@order.total) %>
              </td>
            </tr>

            <tr>
              <td style="color: #c6000e !important; width: 50%; border: none;">You Saved</td>
              <td style="text-align: right; color: #c6000e !important; width: 50%; border: none;">
                <%= you_saved(@order) %>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          Note: For more up to date please keep an eye on <%= link_to 'Your Account', spree.account_url %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h4 style="margin: 15px 0; color: #444444;">
      DELIVERY DETAILS
    </h4>

    <b><%= @order.ship_address.name %></b> <br/>
    <b><%= @order.ship_address.address1 %></b> <br/>
    <b><%= @order.ship_address.city %>, <%= @order.ship_address.state.name %>, <%= @order.ship_address.zipcode %></b>
    <br/>
    <b><%= @order.ship_address.country.name %></b> <br/>
    <b>T.<%= @order.ship_address.phone %></b>
  </div>
  <hr>
  <div>
    <p align="justify"> To make sure you get your items as soon as possible, we may post each item separately. Please
      note,payment will be taken from your card or account within 48 hours.</p>
  </div>
  <div>
    <p align="justify"> This email is an acknowledgement of receipt of your order. Your contract to purchase these
      items is complete untill we send you an email confirming that the items have been dispatched to you.</p>
  </div>
  <div>
    <p>P.S Remember, add your credit card to your wallet for faster checkout! </p>
  </div>
  <div>
    <p>We hope to see you again soon.</p>
  </div>
</div>