<div class="summary-wrap pull-md-right">
  <div class="order-table">
    <table>
      <tbody>
      <tr>
        <td> Order subtotal</td>
        <td class="td-value"> <%= order_total_amount_with_currency(@order) %></td>
      </tr>
      <% if @order.promotions.present? %>
          <tr>
            <td> Discount / coupon</td>
            <td> <%= price_with_currency(@order.adjustment_total) %> </td>
          </tr>
      <% end %>
      <tr>
        <td> Estimated shipping</td>
        <td class="td-value"> Free</td>
      </tr>
      <tr>
        <td> Estimated sales tax</td>
        <td class="td-value"> Tax included in price</td>
      </tr>
      <tr class="total-order">
        <td> Order total</td>
        <td class="td-value"> <%= price_with_currency(@order.total) %></td>
      </tr>
      <tr class="font-italic">
        <td> You saved</td>
        <td class="td-value"> <%= you_saved(@order) %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--<div class="place-order-btn">-->
    <!--<div class="pl10 pr10 mt10">-->
      <!--<input type="submit" class="form-control btn-place-order" readonly disabled value="PLACE ORDER">-->
    <!--</div>-->
  <!--</div>-->
</div>