<% if @success.present? %>
popupMessage("<%= @success %>", 'alert-success');
$('.apply-promo-code').html("<%= escape_javascript(display_promo_code(@order)).html_safe %>");
<%else%>
popupMessage("<%= @error %>", 'alert-danger');
<%end%>