<main class="main">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="cart-page">
            <div class="row">
              <div class="col-md-10">
                <% if @order.line_items.empty? %>
                    <div data-hook="empty_cart">
                      <div class="alert alert-info"><%= Spree.t(:your_cart_is_empty) %></div>
                      <p><%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-default' %></p>
                    </div>
                <% else %>
                    <h3 class="text-red gothamHTFBook">Your Shopping Bag</h3>
                    <%= form_for @order, url: update_cart_path, html: {id: 'update-cart'} do |order_form| %>
                        <div class="all-cart">
                          <div class="clearfix">
                            <table class="table">
                              <thead class="hidden-xs">
                              <tr>
                                <th>Items (<%= @order.line_items.count %>)</th>
                                <th>&nbsp;</th>
                                <th>Quantity</th>
                                <th>&nbsp;</th>
                                <th class="text-center">Status</th>
                                <th style='width: 100px;'>Unit Price</th>
                                <th>Subtotal</th>
                              </tr>
                              </thead>
                              <tbody>
                              <% @order.line_items.each do |line_item| %>
                                  <tr id="item-line-<%= line_item.id %>">
                                    <td>
                                      <%= link_to brandcruz_product_path(line_item.product.slug) do %>
                                          <%= image_tag get_image(line_item.product.id), class: "cart-image" %>
                                      <% end %>
                                    </td>
                                    <td>
                                      <span class="gothamNarrowBlack">
                                        <%= link_to raw(line_item.product.name), brandcruz_product_path(line_item.product.slug) %>
                                      </span>

                                      <% if line_item.size.present? %>
                                        <span>
                                          <b> Size: <%= line_item.size %>  </b>
                                        </span>
                                      <% end %>

                                      <span><b>Color: <%= line_item.variant.color %></b></span>

                                      <div class="clearfix visible-xs ulter-td">
                                        <div class="vspace10px"></div>
                                        <div class="ulter-td-left">
                                          <input type="number" data-line-id="<%= line_item.id %>" class="item-quantity" value="<%= line_item.quantity %>" min="1">
                                        </div>
                                        <div class="ulter-td-right">
                                          <div class="vspace10px"></div>
                                          <p>
                                            <%= link_to "/line_items/#{line_item.id}", remote: true, method: :delete do %>
                                                <span class="u"> <i class="fa fa-times"></i> Remove</span>
                                            <% end %>
                                          </p>
                                        </div>
                                      </div>
                                    </td>
                                    <td colspan="2" class="hidden-xs">
                                      <div class="clearfix ulter-td">
                                        <div class="ulter-td-left">
                                          <input type="number" data-line-id="<%= line_item.id %>" class="item-quantity" value="<%= line_item.quantity %>" min="1">
                                        </div>
                                        <div class="ulter-td-right">
                                          <p>
                                            <%= link_to "/line_items/#{line_item.id}", remote: true, method: :delete do %>
                                                <span class="u"> <i class="fa fa-times"></i> Remove</span>
                                            <% end %>
                                          </p>
                                        </div>
                                      </div>
                                    </td>
                                    <td class="hidden-xs">
                                      <div class="text-center">
                                        <span>Ship it</span>
                                        <span class="text-red uppercase"> In stock </span>
                                        <span class="light">
                                          usually ships within 2 business days
                                        </span>
                                      </div>
                                    </td>
                                    <td>
                                      <%= price_with_currency(line_item.price) %>
                                    </td>
                                    <td class="hidden-xs" id="line_iten_total_<%= line_item.id %>">
                                      <%= price_with_currency(line_item.price * line_item.quantity) %>
                                    </td>
                                  </tr>
                              <% end %>
                              </tbody>
                            </table>
                            <!-- Calculation row -->
                            <table class="calculation-table">
                              <tbody>
                              <tr>
                                <td class="promo-code clearfix">
                                  <h3 class="small">Have a promo code?</h3>

                                  <div class="apply-promo-code">
                                    <% if display_promo_code(@order).present? %>
                                        <%= display_promo_code(@order) %>
                                    <% else %>
                                        <input id="coupon" name="order[coupon_code]" type="text" class="form-control promo-code-input pull-left">
                                        <a href="#" class="apply-promo-code-btn"><u>Apply</u></a>
                                    <% end %>
                                  </div>
                                </td>
                                <td class="calculations">
                              <span class="clearfix">
                                <span class="pull-left">Order Subtotal</span>
                                <span class="pull-right order-sub-total-amount"><%= order_total_amount_with_currency(@order) %></span>
                              </span>
                              <span class="clearfix">
                                <span class="pull-left">Estimated Shipping</span>
                                <span class="pull-right text-red">Free</span>
                              </span>
                                  <%= display_promo_discount(@order) %>
                                  <span class="clearfix">
                                <span class="pull-left">Estimated Sales Tax</span>
                                <span class="pull-right">Tax included in price</span>
                              </span>
                              <span class="clearfix">
                                <span class="pull-left"><h4>Order Total</h4></span>
                                <span class="pull-right gothamNarrowBlack total-amnt-val order-total-amount"><%= price_with_currency(@order.total) %></span>
                              </span>
                              <span class="clearfix">
                                <span class="pull-left text-red">You Saved</span>
                                <span class="pull-right text-red"><%= you_saved(@order) %></span>
                              </span>
                                  <br>
                                  <br>
                              <span class="clearfix" style="font-size: 12px;">
                                Availability & pricing for items in Shopping Bag are not guaranteed until checkout is complete.
                              </span>
                                  <br>

                                  <div class="cart-buttons clearfix">
                                    <div class="pull-right">
                                      <%= link_to 'Keep Shopping', :back, class: "inline-block keep-shopping common-btn uppercase" %>
                                      <%= button_tag class: 'inline-block common-btn uppercase', id: 'checkout-link', name: 'checkout' do %>
                                          <%= Spree.t(:checkout) %>
                                      <% end %>
                                    </div>
                                  </div>
                                  <br>

                                  <div class="we-accept">
                                <span class="light">
                                  We accept a variety of payment options:
                                </span>
                                    <br>
                                    <%= image_tag('payment-options.jpg', title: "We Accept:") %>
                                  </div>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    <% end %>
                <% end %>
              </div>
              <div class="col-md-2">
                <% if @order.line_items.present? %>
                    <% product = @order.line_items.first.product %>
                    <b>
                      Customer Also Shopped:
                    </b>
                    <% if product.recomanded_product.length > 0 %>
                        <ul class="cart-customer-also-loved">
                          <% product.recomanded_product.each do |rp| %>
                              <% if rp.recommend_product.present? %>
                                  <li class="pl10 pr10">
                                    <%= link_to spree.brandcruz_product_path(rp.recommend_product) do %>
                                        <div class="product-image p0" style="padding-right: 10px;">
                                          <img src="<%= get_image(rp.recommended_product_id) %>" class="img-fluid d-inline-block">
                                        </div>
                                        <div class="product-details text-center">
                                          <p class="price mb0">
                                            <%= get_price(rp.recommended_product_id) %>
                                          </p>
                                        </div>
                                    <% end %>
                                  </li>
                              <% end %>
                          <% end %>
                        </ul>
                    <% else %>
                        <ul class="cart-customer-also-loved">
                          <% product.get_recom_products.each do |product| %>
                              <li class="pl10 pr10">
                                <%= link_to spree.brandcruz_product_path(product) do %>
                                    <div class="product-image p0" style="padding-right: 10px;">
                                      <img src="<%= get_image(product.id) %>" class="img-fluid d-inline-block">
                                    </div>
                                    <div class="product-details text-center">
                                      <p class="price mb0">
                                        <%= get_price(product.id) %>
                                      </p>
                                    </div>
                                <% end %>
                              </li>
                          <% end %>
                        </ul>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render 'spree/shared/service_section' %>
    </div>
  </div>
</main>

<script type="text/javascript">
    $(function () {
        $(".cart-customer-also-loved").slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: false,
            vertical: true,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false,
                        vertical: false
                    }
                }
            ]
        });

        $('.item-quantity').keyup(function () {
            element = $(this);
            var quantity = element.val();
            if (quantity != '') {
                $.ajax({
                    url: '/line_items/' + element.attr('data-line-id'),
                    type: 'put',
                    data: {quantity: quantity},
                    success: function () {

                    }
                });
            }
        });

        $(".apply-promo-code-btn").click(function () {
            var coupon_code = $("#coupon").val();
            if (coupon_code != '') {
                $.ajax({
                    url: "<%= spree.apply_coupon_path %>",
                    type: 'post',
                    data: {coupon_code: coupon_code},
                    dataType: 'script',
                    error: function (e) {
                        console.log(e.message);
                        alert("Unable to apply coupon code");
                    }
                });
            }
            else {
                alert("Input coupon code");
            }
            return true
        });
    });
</script>