<div id="content" class="col-sm-12" style="padding: 0" data-hook="">
  <div class="container">
    <div class="thanks-order-wrap">
      <div class="thanks-order-container">
        <% if order_just_completed?(@order) %>
            <h3> THANKS FOR YOUR ORDER, <%= @order.ship_address.name %>! </h3>
            <h4> Your Order ID is <%= @order.number %> </h4>
        <% else %>
            <h3 class="mb20 mt20">
              Order #<%= params[:id] %>
            </h3>
        <% end %>
      </div>
    </div>
    <% ship_address = @order.ship_address %>
    <% bill_address = @order.bill_address %>
    <div class="bill-wrap">
      <div class="bill-container clearfix border-bottom">
        <div class="left-bill">
          <h4> Bill To </h4>

          <div class="bill-to-details">
            <ul class="common-ul-style">
              <li>
                <span> Name: </span>
                <%= bill_address.name %>
              </li>
              <li>
                <span> Address: </span>
                <%= bill_address.address1 %>
              </li>
              <li>
                <span> City: </span>
                <%= bill_address.city %>
              </li>
              <li>
                <span> Zip: </span>
                <%= bill_address.zipcode %>
              </li>
              <li>
                <span> Country: </span>
                <%= bill_address.country.name %>
              </li>
            </ul>
          </div>
        </div>

        <div class="right-bill">
          <h4> Ship To </h4>

          <div class="bill-to-details">
            <ul class="common-ul-style">
              <li>
                <span> Name: </span>
                <%= ship_address.name %>
              </li>
              <li>
                <span> Address: </span>
                <%= ship_address.address1 %>
              </li>
              <li>
                <span> City: </span>
                <%= ship_address.city %>
              </li>
              <li>
                <span> Zip: </span>
                <%= ship_address.zipcode %>
              </li>
              <li>
                <span> Country: </span>
                <%= ship_address.country.name %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 mb10">
      <div class="row shipping-contact-info">
        <div class="col-sm-6">
          <div class="shipping-method-wrap mb0">
            <h3> Shipping Methods: </h3>
            Standard <strong> Free </strong>

            <p>
              Transit time: 3-6 business days
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="contact-info mb0">
            <h3> Contact Information: </h3>

            <p>
              Email: <%= @order.email %> <br>
              Phone: <%= ship_address.phone %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="product-list-item order-show-product-list">
      <div class="product-list-container">
        <table class="table product-item-table">
          <thead>
          <tr>
            <th colspan="2"> Items(<%= @order.line_items.count %>)</th>
            <th> Quality</th>
            <th> Price</th>
          </tr>
          </thead>
          <tbody>
          <% @order.line_items.each do |item| %>
              <tr>
                <td>
                  <%#= get_variant_image(item.variant) %>
                  <%= image_tag get_image(item.product.id), class: "media-object" %>
                </td>
                <td>
                  <% if item.product.brand.present? %>
                      <strong> <%= item.product.brand.name %> </strong> <br>
                  <% end %>
                  <label> <%= item.product.name %> </label> <br>
                  <%= item.product.id %> <br>
                  Size: <%= item.size %> <br>
                  color: <%= item.variant.color %>
                </td>
                <td>
                  <%= item.quantity %>
                </td>
                <td>
                  <%= price_with_currency(item.variant.price) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <%#= render 'spree/orders/summary' %>
        <div class="col-sm-9x col-sm-offset-3x">
          <div class="order-summary-amount">
            <span class="clearfix">
            <span class="pull-left">Order Subtotal</span>
            <span class="pull-right order-sub-total-amount"><%= order_total_amount_with_currency(@order) %></span>
          </span>
          <span class="clearfix">
            <span class="pull-left">Estimated Shipping</span>
            <span class="pull-right text-red">Free</span>
          </span>
            <%= display_promo_discount(@order) %>
            <span class="clearfix">
            <span class="pull-left">Estimated Sales Tax</span>
            <span class="pull-right">Tax included in price</span>
          </span>
          <span class="clearfix">
            <span class="pull-left"><h4>Order Total</h4></span>
            <span class="pull-right gothamNarrowBlack total-amnt-val order-total-amount"><%= price_with_currency(@order.total) %></span>
          </span>
          <span class="clearfix">
            <span class="pull-left text-red">You Saved</span>
            <span class="pull-right text-red"><%= you_saved(@order) %></span>
          </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>