<div class="form-group custom-form-group input-wrap">
  <label for="firstName">
    <strong> Full Name </strong>
  </label>
  <%= form_builder.text_field :name, :class => 'form-control required' %>
  <span class="form-error"></span>
</div>
<div class="form-group custom-form-group input-wrap">
  <label for="address1">
    <strong> <%= address_type %> Address </strong>
  </label>
  <%= form_builder.text_field :address1, :class => 'form-control required' %>
  <span class="form-error"></span>
  <span> Street Address, RO. Box, Company Name, c/o </span>
</div>
<div class="form-group custom-form-group">
  <label for="address2">
    <strong> <%= address_type %> Address Continued (Optional) </strong>
  </label>
  <%= form_builder.text_field :address2, :class => 'form-control' %>
  <span> Apartment, Suite, Unit, Building, Floor etc. </span>
</div>

<% if cookies[:country_name].present? && cookies[:country_name].downcase != 'us' %>
    <div class="form-group custom-form-group input-wrap">
      <label for="country">
        <strong> Country </strong>
      </label>
      <%= form_builder.select(:country_id, options_for_select(country_lists.collect { |con| [con.name, con.id] }, form_builder.object.country_id || user_country), {}, {:class => "form-control select_country required", :id => 'select_country'}) %>
      <span class="form-error"></span>
      <span> <%= address_type.downcase %> country. </span>
    </div>
<% end %>

<div class="form-group custom-form-group input-wrap">
  <label for="city">
    <strong> City </strong>
  </label>
  <%= form_builder.text_field :city, :class => 'form-control required' %>
  <span class="form-error"></span>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group custom-form-group input-wrap">
      <label for="state"> <strong> State </strong> </label>
      <%= form_builder.select(:state_id, options_for_select([]), {}, {:class => "form-control required", :id => 'select_state'}) %>
      <span class="form-error"></span>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group custom-form-group input-wrap">
      <label for="zip">
        <strong> Zip </strong>
      </label>
      <%= form_builder.text_field :zipcode, :class => 'form-control required' %>
      <span class="form-error"></span>
    </div>
  </div>
</div>

<div class="form-group custom-form-group input-wrap">
  <label for="phone">
    <strong> Phone Number</strong>
  </label>
  <%= form_builder.text_field :phone, class: 'form-control required' %>
  <span class="form-error"></span>
</div>

<script type="text/javascript">
    $(function () {
        var country_select = $('#select_country');
        country_select.change(function () {
            load_state_list($(this).val())
        });
        load_state_list(country_select.val());
    });

    function load_state_list(name) {
        if (name != '') {
            $.ajax({
                url: '/load_state/' + name,
                type: 'get',
                dataType: 'script',
                error: function () {
                    alert('Unable to load state');
                }
            });
        }
    }
</script>