<div class="container">
  <div class="checkout-header checkout-menu-block address">
    <div class="flex-itemsx-md-middle clearfix" style="margin-left: -15px; margin-right: -15px;">
      <div class="col-lg-6 text-lg-right pull-right">
        <ul class="mb-20">
          <li> <%= link_to 'Contact Us', '/dedicated-customer-support', target: '_blank' %> </li>
          <li><a href="https://lc.chat/now/8866794" target="_blank">Chat</a></li>
          <li>
            <a href="<%= cookies[:country_code] == 'US' ? domestic_path : spree.international_path %>" target="_blank">
              Shipping &amp; Returns
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pull-left">
        <div class="progress-bar-img1">
          <%= image_tag 'checkout-01.jpg' %>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  <div class="row">
    <div class="col-md-5 clearfix">
      <ul class="checkout-menu">
        <li class="checkout-current"> Your shipping address</li>
      </ul>
      <div class="checkout-form">
        <div class="row">
          <div class="col-md-12 shipping-address-form">
            <%= form.fields_for :ship_address do |ship_form| %>
                <%= render 'spree/checkout/address_fields', form_builder: ship_form, address_type: 'Shipping' %>
                <hr style="margin-top: 40px">
                <%= form.check_box :use_shipping, value: true, checked: true, class: 'hidden' %>
                <%= hidden_field_tag :failed_id, params[:failed_id] %>
                <div class="shipping-method">
                  <h3> SHIPPING METHOD </h3>
                  <ul class="common-ul-style custom-radio-btn clearfix input-wrap">
                    <% method_keys = static_shipment_method.keys %>
                    <% saved_shipment_method = form.object.shipments.present? && form.object.shipments.tracking.present? ? form.object.shipments.tracking : '' %>
                    <li>
                      <%= radio_button_tag "order[shipments_attributes]", 'standard', method_keys.include?(saved_shipment_method.downcase), id: 'shipments_method_Standard', checked: true %>
                      <span class="form-error"></span>
                      <label for="shipments_method_Standard">
                        <div class="label-wrap">
                          Standard <strong> Free </strong>

                          <p>
                            Transit time: 3-6 business days
                          </p>
                        </div>
                      </label>

                      <div class="check"></div>
                    </li>
                    <li data-toggle="tooltip" title="This shipping method currently unavailable">
                      <%#= radio_button_tag "order[shipments_attributes]", 'premium', method_keys.include?(saved_shipment_method.downcase), id: 'shipments_method_Premium'%>
                      <span class="form-error"></span>
                      <label for="shipments_method_Premium">
                        <div class="label-wrap">
                          Premium <strong style="color: #c6c6c6;"> $9.00 </strong>

                          <p>
                            Transit time: 2-3 business days
                          </p>
                        </div>
                      </label>

                      <div class="check"></div>
                    </li>
                    <li data-toggle="tooltip" title="This shipping method currently unavailable">
                      <%#= radio_button_tag "order[shipments_attributes]", 'express', method_keys.include?(saved_shipment_method.downcase), id: 'shipments_method_Express'%>
                      <span class="form-error"></span>
                      <label for="shipments_method_Express">
                        <div class="label-wrap">
                          Express <strong style="color: #c6c6c6;"> $19.00 </strong>

                          <p>
                            Transit time: 1-2 business days
                          </p>
                        </div>
                      </label>

                      <div class="check"></div>
                    </li>
                  </ul>
                  <!--<div>-->
                  <!--<%#= image_tag 'disable-radio-btn.jpg' %>-->
                  <!--</div>-->
                </div>

                <hr style="margin-top: 40px">

                <div class="gift-option">
                  <h3> GIFT OPTIONS </h3>
                  <hr>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">
                      This order contains a gift
                    </label>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="text-xs-right pull-md-right">
        <%= submit_tag 'Save and Continue', :class => 'button button-primary button-large' %>
      </div>
    </div>
    <div class="col-md-7 clearfix">
      <%= render 'spree/orders/summary' %>
    </div>
  </div>
</div>

<%= render 'spree/shared/form_validation_script' %>