<div id="content" class="col-sm-12" style="padding: 0" data-hook="">
  <div class="container">
    <div class="thanks-order-wrap">
      <div class="thanks-order-container">
        <h3> THANKS FOR YOUR ORDER, MARTIN! </h3>
        <h4> Your Order ID is ESUP-7684786-73865 </h4>

        <p>
          Your order has been submitted and is pending approval. A confirmation email will be sent to you within 24
          hours. This confirmation email will include your order details, order number and information for tracking
          your order. If you do not receive a confirmation email within 24 hours of order placement, please contact
          us.
          If there is anything else we can do to assist you please do not hesitate to email or call us.
        </p>
      </div>
    </div>
    <div class="bill-wrap">
      <div class="bill-container clearfix border-bottom">
        <div class="left-bill">
          <h4> Bill To </h4>

          <div class="bill-to-details">
            <ul class="common-ul-style">
              <li>
                <span> Name: </span>
                Martin Pavel
              </li>
              <li>
                <span> Address: </span>
                3 st merry close, plumstead
              </li>
              <li>
                <span> City: </span>
                LONDON
              </li>
              <li>
                <span> Zip: </span>
                76786789
              </li>
              <li>
                <span> Country: </span>
                United Kingdom
              </li>
            </ul>
          </div>
        </div>

        <div class="right-bill">
          <h4> Ship To </h4>

          <div class="bill-to-details">
            <ul class="common-ul-style">
              <li>
                <span> Name: </span>
                Martin Pavel
              </li>
              <li>
                <span> Address: </span>
                3 st merry close, plumstead
              </li>
              <li>
                <span> City: </span>
                LONDON
              </li>
              <li>
                <span> Zip: </span>
                76786789
              </li>
              <li>
                <span> Country: </span>
                United Kingdom
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="shipping-method-wrap">
      <h3> Shipping Methods: </h3>

      <p> FedEX Int'I Priority (3-5 Days) </p>
    </div>
    <div class="contact-info">
      <h3> Contact Information: </h3>

      <p>
        Email: martin@hotmail.com <br>
        Phone: 56785785
      </p>
    </div>
    <div class="product-list-item">
      <div class="product-list-container">
        <table class="table product-item-table">
          <thead>
          <tr>
            <th colspan="2"> Items(2)</th>
            <th> Quality</th>
            <th> Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <img src="images/lady.jpg" alt="">
            </td>
            <td>
              <strong> PRPS </strong> <br>
              <label> Barracuda Strait Leg </label> <br>
              363267337 <br>
              Size: 24 <br>
              color: Blue
            </td>
            <td>
              2
            </td>
            <td>
              $400
            </td>
          </tr>
          <tr>
            <td>
              <img src="images/lady.jpg" alt="">
            </td>
            <td>
              <strong> PRPS </strong> <br>
              <label> Barracuda Strait Leg </label> <br>
              363267337 <br>
              Size: 24 <br>
              color: Blue
            </td>
            <td>
              2
            </td>
            <td>
              $400
            </td>
          </tr>
          <tr>
            <td>
              <img src="images/lady.jpg" alt="">
            </td>
            <td>
              <strong> PRPS </strong> <br>
              <label> Barracuda Strait Leg </label> <br>
              363267337 <br>
              Size: 24 <br>
              color: Blue
            </td>
            <td>
              2
            </td>
            <td>
              $400
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>