<div class="col-md-12">
</div>
<div id="new-customer" class="panel-body" data-hook="login">
  <%= form_for @user, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
      <div data-hook="signup_inside_form">
        <div id="password-credentials" class="mb20">
          <div class="form-group input-wrap">
            <%= f.label :email, 'Email Address' %>
            <%= f.email_field :email, :class => 'login-input form-control required', :tabindex => 1, autofocus: true %>
            <span class="form-error"></span>
          </div>

          <div class="form-group input-wrap">
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password, :class => 'login-input form-control required', :tabindex => 2 %>
            <span class="form-error"></span>
          </div>

          <div class="form-group input-wrap">
            <%= f.label :password, 'Confirm Password' %>
            <%= f.password_field :password_confirmation, :class => 'login-input form-control required', :tabindex => 2 %>
            <span class="form-error"></span>
          </div>
        </div>
        <div class="form-group"><%= f.submit Spree.t(:create), :class => 'btn btn-lg button button-primary btn-block' %></div>
      </div>
  <% end %>
  <div class="text-center form-group">
    <%= Spree.t(:or) %>
    <%= link_to Spree.t(:login_as_existing), spree.login_path %>
  </div>
  <div data-hook="login_extras"></div>
</div>

<%= render 'spree/shared/form_validation_script' %>