<script type="text/javascript" asyc src='https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.min.js'></script>
<div class="container">
  <div class="checkout-header checkout-menu-block payment">
    <div class="flex-itemsx-md-middle clearfix" style="margin-left: -15px; margin-right: -15px;">
      <div class="col-lg-6 text-lg-right pull-right">
        <ul class="mb-20">
          <li> <%= link_to 'Contact Us', '/dedicated-customer-support', target: '_blank' %> </li>
          <li><a href="https://lc.chat/now/8866794/" target="_blank">Chat</a></li>
          <li>
            <a href="<%= cookies[:country_code] == 'US' ? domestic_path : spree.international_path %>" target="_blank">
              Shipping &amp; Returns
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pull-left">
        <div class="progress-bar-img1">
          <%= image_tag 'checkout-02.jpg' %>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  <ul class="checkout-menu">
    <li class="checkout-current"> Review & Payments</li>
  </ul>
  <div class="row">

    <div class="col-md-5 clearfix">
      <div class="border-bottom" style="margin-bottom: 20px; padding-bottom: 50px">
        <div class="row">
          <div class="col-sm-6 shipping-address">
            <h4> Shipping address </h4>
            <%= form.fields_for :ship_address do |ship_form| %>
                <p>
                  <%= ship_form.object.active_merchant_hash[:name] %> <br/>
                  <%= ship_form.object.active_merchant_hash[:address1] %> <br/>
                  <%= ship_form.object.active_merchant_hash[:city] + ', ' + ship_form.object.active_merchant_hash[:zip] %>
                  <br/>
                  <%= ship_form.object.active_merchant_hash[:phone] %>
                </p>
            <% end %>
            <% if params[:failed_id].present? %>
                <%= link_to 'EDIT', spree.checkout_address_path(state: 'address', failed_id: params[:failed_id]), class: 'btn-edit' %>
            <% else %>
                <%= link_to 'EDIT', spree.checkout_address_path(state: 'address'), class: 'btn-edit' %>
            <% end %>
          </div>
          <div class="col-sm-6 shipping-method">
            <h4> Shipping method </h4>

            <p>
              Standard
              3-6 business days
            </p>
          </div>
        </div>
      </div>
      <form action="" role="form" method="post">
        <div class="chose-payment-method border-bottom" style="margin-bottom: 20px; padding-bottom: 50px">
          <h3> CHOOSE PAYMENT METHOD </h3>

          <div class="payment-method-form">
            <div class="payment-method-form-container">
              <div class="form-group input-wrap">
                <label for="card-no">
                  Card number
                </label>
                <%= image_tag('ssl_cert.png', class: 'pull-right', width: '36px') %>
                <%= hidden_field_tag "[order][payments_attributes][amount]", @order.total, class: 'required form-control' %>
                <%= hidden_field_tag "[order][payments_attributes][name]", '', class: 'form-control' %>
                <%= text_field_tag "[order][payments_attributes][number]", '', class: 'required form-control mt10' %>
                <span class="form-error"></span>
              </div>

              <div class="form-group input-wrap">
                <label for="card-no">
                  Name on Card
                </label>
                <%= text_field_tag "[order][payments_attributes][name]", '', class: 'form-control required' %>
                <span class="form-error"></span>
              </div>

              <div class="form-group input-wrap">
                <label for="expiration-date"> Expiration date </label>
                <%= text_field_tag '[order][payments_attributes][expire]', '', id: "expiration-date", class: "form-control required", placeholder: 'MM/YY' %>
                <span class="form-error"></span>
              </div>
              <%= hidden_field_tag :failed_id, params[:failed_id] %>
              <div class="form-group input-wrap">
                <label for="security-code"> CVV </label>
                <%= text_field_tag "[order][payments_attributes][cvv_response_code]", '', class: 'required form-control' %>
                <span class="form-error"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="billing-address">
          <div class="billing-address">
            <h3> BILLING ADDRESS </h3>

            <div class="radio-btn-shipping-address">
              <div class="checkbox">
                <label>
                  <%= form.check_box :use_shipping, value: true, checked: true, id: "same-billing-address" %>
                  <span> Use my shipping address </span>
                  <%= form.fields_for :ship_address do |ship_form| %>
                      <p>
                        <%= ship_form.object.active_merchant_hash[:name] %>
                        <%= ship_form.object.active_merchant_hash[:address1] %>
                        <%= ship_form.object.active_merchant_hash[:city] + ', ' + ship_form.object.active_merchant_hash[:zip] %>
                      </p>
                  <% end %>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="billing-address-form">
          <%= form.fields_for :bill_address do |ship_form| %>
              <div id="custom-billing-address" class="billing-address-form-container collapse">
                <%= render 'spree/checkout/address_fields', form_builder: ship_form, address_type: 'Billing' %>
              </div>
          <% end %>
        </div>

        <div class="continue-btn clearfix">
          <input type="submit" class="pull-md-right" value="CONTINUE">
        </div>
      </form>
    </div>

    <div class="col-md-7 clearfix">
      <%= render 'spree/orders/summary' %>
    </div>
  </div>
</div>

<%= render 'spree/shared/form_validation_script' %>

<script type="text/javascript">
    $(function () {
        $('#same-billing-address').click(function () {
            if ($(this).is(":checked")) {
                $('#custom-billing-address').slideUp();
            }
            else {
                $('#custom-billing-address').slideDown();
            }
        });
        card = $('#_order_payments_attributes_number');
        cvv = $('#_order_payments_attributes_cvv_response_code');
        expire = $('#expiration-date');

        card.payment('formatCardNumber');
        cvv.payment('formatCardCVC');
        expire.payment('formatCardExpiry');

        $('input[type="submit"]').click(function (e) {
            valid_card = $.payment.validateCardNumber(card.val());
            valid_cvv = $.payment.validateCardCVC(cvv.val());
            valid_expire = $.payment.cardExpiryVal(expire.val());

            if (!valid_card) {
                card.removeClass('valid');
                card.parent().addClass('errored');
                card.next().html("Your card number is invalid");
            }

            if (!valid_cvv) {
                cvv.removeClass('valid');
                cvv.parent().addClass('errored');
                cvv.next().html("Your card cvc is invalid");
            }

            if (!valid_expire) {
                expire.removeClass('valid');
                expire.parent().addClass('errored');
                expire.next().html("Your card expire is invalid");
            }

            if (!(valid_card && valid_cvv && valid_expire)) {
                console.log("Invalid payment credential");
                e.preventDefault();
            }
            else {
                console.log("Valid payment");
            }
        });

//        card.keyup(function () {
//            card_type = $.payment.cardType($(this).val());
//            card_name = $("#_order_payments_attributes_name");
//            if (card_type != '') {
//                card_name.val(card_type);
//            }
//            else {
//                card_name.val(card_type);
//            }
//        });
    });
</script>