<div id="main-container">
  <div class="container">
    <div class="row space-20">
      <div class="col-sm-12 col-lg-6 col-md-offset-3">
        <div class="login-block">
          <h5>Create Account</h5>
          <%= render :partial => 'new_user' %>
        </div>
      </div>
      <!--<div class="col-md-6">-->
      <!--<div class="login-block">-->
      <!--<%# if Spree::Config[:allow_guest_checkout] %>-->
      <!--<div class="col-md-12">-->
      <!--Checkout as a Guest-->
      <!--</div>-->
      <!--<div id="guest_checkout" class="panel-body" data-hook>-->
      <!--<%# if flash[:registration_error] %>-->
      <!--<div class='flash error'><%#= flash[:registration_error] %></div>-->
      <!--<%# end %>-->
      <!--<%#= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>-->
      <!--<p class="form-group">-->
      <!--<%#= f.label :email, 'Email Address' %>-->
      <!--<%#= f.email_field :email, :class => 'login-input', :tabindex => 1, autofocus: true %>-->
      <!--</p>-->
      <!--<p class="form-group "><input type="submit" value="Continue" class="btn btn-lg button button-primary btn-block"></p>-->
      <!--<%# end %>-->
      <!--</div>-->
      <!--<%# end %>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>