<%= form_for :order, url: populate_orders_path, remote: true, :html => {id: "order-populate"} do |f| %>
    <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form">
      <%= hidden_field_tag "variant_id", @product.master.id %>
      <%= hidden_field_tag "size" %>
      <% if get_all_variant(@product.id).present? %>
          <div class="color-section">
            <span class="color-name"> Color: </span>

            <ul class="color-section-ul-style clearfix">
              <% get_all_variant(@product.id).each do |v| %>
                  <li>
                    <input type="radio" class="select_varient" id="radio_<%= v.id %>" data-color-name="<%= v.color %>" data-color-price="<%= get_varient_price(v.id) %>" name="variant_id" value="<%= v.id %>"/>
                    <label for="radio_<%= v.id %>"><span class="color_image" style="background: url(<%= v.color_image %>)"></span></label>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <% if @product.product_sizes.present? %>
          <div class="flexible flex-items-xs-between" style="width: 100%">
            <div class="col-sm-12">
              <p class="medium">Size:</p>
            </div>
          </div>
      <% end %>
      <div class="size-wrapper" style="padding-left: 15px;">
        <div class="rowx space-10x size-container">
          <ul class="common-ul-style product-size clearfix">
            <% if @product.product_sizes.present? %>
                <% @product.product_sizes.each do |size| %>
                    <li class="">
                      <a class="size-selection" href="#" data-size_value="<%= size.short_name %>" href="#"><%= size.short_name %> </a>
                    </li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <% if @product.price_in(current_currency) && !@product.price.nil? %>
          <div data-hook="product_price" class="col-md-12">
            <% if @product.can_supply? %>
                <div class="add-to-cart">
                  <br/>

                  <div class="input-group">
                    <span>
					  <input id="counter" name="quantity" type="number" min="1" value="1" hidden>
                    </span>
                  </div>
                </div>
                <div class="alert alert-error hidden"></div>
                <span class="input-group-btn">
                  <% if @product.is_master? %>
                    <a href="#bottomArea" id="viewMemberItems_img" class="button button-primary button-full mb-20">
                      choose your items
                    </a>
                  <% else %>
                      <%= button_tag class: 'button button-primary button-full mb-20', style: "width:100%", id: 'add-to-cart-button', type: :submit do %>
                        ADD TO BAG
                      <% end %>
                  <% end %>
                </span>
            <% end %>
          </div>
      <% else %>
          <div id="product-price">
            <br/>

            <div>
              <span class="price selling">
                <%= Spree.t('product_not_available_in_this_currency') %>
              </span>
            </div>
          </div>
      <% end %>
    </div>
<% end %>

<%= render 'spree/shared/service_unavailable_modal' %>

<script type="text/javascript">
    $(function () {
        var assets = {};
        <% @product.variants.each do |v| %>
        var vid = '<%= v.id %>';
        assets[vid] = {};
        <% v.images.each_with_index do |as, indx| %>
        assets[vid][<%= indx %>] = {
            image: '<%= as.image_link %>',
            zoom_image: '<%= as.zoomable_image_link.present? ? as.zoomable_image_link : as.image_link %>'
        };
        <%end%>
        <%end%>

        $(document).off('click', '.select_varient').on('click', '.select_varient', function () {
            id = $(this).val();
            var color_name = $(this).attr('data-color-name');
            var product_price = $(this).attr('data-color-price');
            $('.color-name').html("Color:    " + color_name);
            $('.product-price').html(product_price);
            $("#product-gallery").html('').removeClass("slick-initialized slick-slider slick-vertical");
            $('.zoomContainer').remove();
            $.each(assets[id], function (indx, img) {
                $("#product-gallery").append(tiny_item(img));
            });

            $("#product-zoom").elevateZoom({
                zoomType: "inner",
                responsive: !0,
                gallery: "product-gallery",
                cursor: "default",
                galleryActiveClass: "product-active"
            });

            setTimeout(function () {
                $("#product-gallery .selection:first-child").find('a').addClass('product-active').trigger('click');
            }, 100);

            attached_slider();

            if ($(".alert").text() == 'Please select color') {
                $(".alert").addClass('hidden');
            }
        });

        $('#order-populate').submit(function () {
            $('#service-unavailable').modal();
            return false;
            if ($('.select_varient').length >= 1 && !$('.select_varient').is(':checked')) {
                popupMessage('Please select color', 'alert-danger');
                return false
            }

            if ($('.size-selection').length >= 1 && $('#size').val() == '') {
                popupMessage('Please select size', 'alert-danger');
                return false
            }
        });
    });

    function tiny_item(images) {
        html = "<div class='selection'> <a href='#' data-image='" + images.image + "' data-zoom-image='" + images.zoom_image + "?op_sharpen=1&fit=fit,1&$filterlrg$&wid=1200&hei=1467', class=''>";
        html += "<img alt='' class='img-fluid' src='" + images.image + "'>";
        html += "</a> </div>";
        return html;
    }

    function attached_slider() {
        setTimeout(function () {
            $("#product-gallery").slick({
                infinite: false,
                slidesToShow: 4,
                slidesToScroll: 4,
                dots: false,
                vertical: true
            });
        }, 100);
    }
</script>