<div class="product-detail">
  <div class="product-details-wrapper pdetail">
    <h2 class="p-title gothamHTFBook"><%= @product.brand.name if @product.brand.present? %></h2>

    <h1 class="p-cat-title gothamNarrowBold"><%= raw @product.name %></h1>

    <div class="p-prices clearfix">
      <div class="price-left pull-left">
        <h2 class="text-red current-price">Now <%= get_price_for_product(@product.id) %></h2>
      </div>
      <div class="price-right pull-left">
        <h3 class="original-price"><%= get_orginal_price_for_product(@product.id, 'Orig') %></h3>
      </div>
    </div>

    <%= render 'cart_form' %>
    <div class="product-accordion-wrapper">
      <div class="product-accordion-single">
        <div class="product-accordion-header accordion-header-active">
          <p>Details</p>

          <div class="header-icon"><i class="icon icon-cross"></i></div>
        </div>
        <div class="product-accordion-details">
          <p><%= raw remove_maycs(@product.description) %></p>
          <ul>
            <%= product_bullets(@product.bullets) %>
          </ul>
        </div>
      </div>
      <% if @product.sizechart.present? %>
          <div class="product-accordion-single">
            <div class="product-accordion-header">
              <p>Size Chart</p>

              <div class="header-icon"><i class="icon icon-cross"></i></div>
            </div>
            <div class="product-accordion-details table-responsive">
              <p><%= raw (@product.sizechart) %></p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>