<% if @featured_category.present? %>
    <div class="col-sm-12" style="padding: 0 !important; margin: 0 !important; padding-top: 15px !important;">
      <p><strong> Featured Category</strong></p>
    </div>
    <div class="col-sm-12" style="padding: 0 !important; margin: 0 !important;">
      <% @featured_category.each do |cat| %>
          <div class="col-sm-6 col-md-4 col-lg-3 custom-column">
            <div class="product-item">

            </div>
            <!--<div id="chanelCatIconImgDiv" class="iconImgLarge">-->
            <a href="<%= category_url(cat) %>">
              <img src="<%= cat.featured_image %>" style="max-width: 100%;">
            </a>

            <div class="product-caption relative text-center gothamNarrowMedium">
              <a href="<%= category_url(cat) %>" style="margin: 0">
                <h2 id="cate_Furniture"><%= cat.name %></h2>
              </a>
            </div>
          </div>
      <% end %>
    </div>
<% end %>