<aside class="aside">
  <ol class="breadcrumb transparent hidden-xs">
    <li><a href="#"><%= @taxon.top_taxon.name if @taxon.top_taxon.present? %> </a></li>
    <li class="active"><%= @taxon.name %></li>
  </ol>
  <%= render 'spree/products/filter_item' %>
</aside>