<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "<%= raw @product.name %>",
  "image": "<%= get_image_for_product(@product, @product.master.images.first) %>",
  "description": "<%= raw remove_maycs(@product.description) %>",
  "mpn": "<%= @product.id %>",
  "brand": {
    "@type": "Thing",
    "name": "<%= @product.brand.name if @product.brand.present? %>"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "<%= rand(4.6..4.8).round(1) %>",
    "reviewCount": "<%= rand(126..559) %>"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "USD",
    "price": "<%= product_price_without_currency(@product.id) %>",
    "priceValidUntil": "2017-07-01",
    "itemCondition": "http://schema.org/Product",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Brandcruz"
    }
  }
}

</script>