<%= hidden_field_tag "variant_id", product.master.id %>
<div class="alert alert-error hidden">
  <span class="notification-text"></span>
  <a class="close-notification">x</a>
</div>
<input id="counter" name="quantity" type="number" min="1" value="1" hidden>
<span class="input-group-btn">
    <%= button_tag class: 'button button-primary button-full mb-20 add-to-cart-button-cl add-to-cart-button', style: "width:100%", type: :submit do %>
       ADD TO BAG
    <% end %>
</span>



