<% if @products.present? %>
    <div class="products-stats pull-right">
      <div class="pagination-wrapper">
        <% if @products.respond_to?(:total_pages) %>
            <div class="pagination-wrapper">
              <div class="pagination-container gothamNarrowBold">
            <span class="paginate-state">
              <%= @products.total_count %> Items &nbsp; |
              &nbsp; View <%= @products.count %> |
              &nbsp; <%= params[:page] || 1 %> of <%= @products.total_pages %> &nbsp; | &nbsp;
            </span>
                <%= paginate @products, classes: 'pagination-list' %>
              </div>

            </div>
        <% end %>
      </div>
    </div>
<% end %>