<li>
  <div class="pl15 pr15">
    <%= link_to spree.brandcruz_product_path(product) do %>
        <div class="product-image pr10">
          <img src="<%= get_image_for_product(product, product.master.images.first) %>" class="img-fluid d-inline-block" , width="300">
        </div>
        <div class="product-details">
          <h4 class="recom-product-name">
            <%= raw product.name %>
          </h4>

          <p class="price mb0 text-red"><%= get_price_for_product(product.id) %></p>
        </div>
    <% end %>
  </div>
</li>