<% if @product.recomanded_product.present? %>
    <% @product.recomanded_product.each do |rp| %>
        <% if rp.recommend_product.present? %>
            <li style="display: block;" class="pl10 pr10">
              <%= link_to spree.brandcruz_product_path(rp.recommend_product) do %>
                  <div class="product-image p0" style="padding-right: 10px;margin-bottom: 5px;">
                    <img src="<%= get_image_for_product(rp.recommend_product, rp.recommend_product.master.images.first) %>" class="img-fluid d-inline-block" width="300">
                  </div>
                  <div class="product-details text-center">
                    <p class="recom-product-name">
                      <%= raw rp.recommend_product.name %>
                    </p>

                    <p class="price mb0">
                      <%= get_price_for_product(rp.recommend_product.id) %>
                    </p>
                  </div>
              <% end %>
            </li>
        <% end %>
    <% end %>
<% else %>
    <% @product.get_recom_products.each do |product| %>
        <li style="display: block;" class="pl10 pr10">
          <%= link_to spree.brandcruz_product_path(product) do %>
              <div class="product-image p0" style="padding-right: 10px;margin-bottom: 5px;">
                <img src="<%= get_image_for_product(product, product.master.images.first) %>" class="img-fluid d-inline-block" width="300">
              </div>
              <div class="product-details text-center">
                <p class="recom-product-name">
                  <%= raw product.name %>
                </p>

                <p class="price mb0">
                  <%= get_price_for_product(product.id) %>
                </p>
              </div>
          <% end %>
        </li>
    <% end %>
<% end %>