<div class="main">
  <div class="section">
    <div class="container">

      <div class="row">
        <div class="col-sm-3">
          <% if @taxon.present? %>
              <%= render 'spree/products/filter' %>
          <% else %>
              <div>
                <div class="filters">
                  <div class="filter-text gothamNarrowBold clearfix">
                    Filter By
                    <i class="glyphicon glyphicon-menu-down visible-xs pull-right"></i>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <div class="col-sm-9">
          <div class='search-result-wrapper mt5'>
            <p class="result-count pb15">
              We found <span class="mark-text"> <%= pluralize(@products.total_count, 'result') %> </span> for
              <i><%= params[:keyword] %></i>
            </p>

            <div class="search-result">
              <div class="category-product-listing product-listings">
                <div class="row all-products">
                  <%= render 'spree/shared/products' %>
                </div>
              </div>
              <div class="clear"></div>
              <%= render 'spree/products/pagination' %>
              <div class="clear"></div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>