<div class="container">
  <div class="row mt20">
    <div class="col-sm-6 col-md-5 clearfix data-parent">
      <div class="row clearfix">
        <div class="clearfix" id="product-thumb-image">
          <div class="product-gallery-wrapper">
            <div id="product-gallery" class="product-thumb-wrapper">
              <% get_additional_images(@product).each do |image| %>
                  <div class="selection">
                    <a href="#" class="addtional-image" data-image="<%= image.image_link %>" data-zoom-image="<%= image.zoomable_image_link.present? ? image.zoomable_image_link : "#{image.image_link}?op_sharpen=1&fit=fit,1&$filterlrg$&wid=1200&hei=1467" %>" ,class="product-active"><%= image_tag image.image_link, alt: "", class: "img-fluid" %></a>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="product-big-image-wrapper">
            <div class="product-details-image text-xs-center">
              <img src="<%= get_image_for_product(@product, @product.master.images.first) %>" data-zoom-image="<%= get_zoom_image(@product.id) %>" alt="" id="product-zoom" class="img-fluid d-inline-block">
              <span class="zoom-init-image"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-5">
      <%= render 'spree/products/details' %>
    </div>

    <div class="col-md-2">
      <p class="customer-also-shopped">
        customers also shopped
      </p>
      <ul class="list-of-recomanded-product-hor mxt20">
        <%= render 'spree/products/recommended_products' %>
      </ul>
    </div>

  </div>
  <% if @product.is_master? %>

      <div class="member-products-wrap">
        <div class="member-products-container" id="bottomArea">
          <div class="product-table-wrap div-box-shadow">
            <div class="product-table-container">
              <p>Member Products</p>
              <%= render 'spree/shared/member_product' %>
            </div>
          </div>

        </div>
      </div>
  <% end %>


  <div class="product-details-customer-widget">
    <h4>Customers also loved</h4>

    <div class="list-of-color">
      <ul class="list-of-recomanded-product clearfix">
        <% if @product.recomanded_product.present? %>
            <% @product.recomanded_product.each do |rp| %>
                <% if rp.recommend_product.present? %>
                    <%= render 'spree/products/recom_product_item', product: rp.recommend_product %>
                <% end %>
            <% end %>
        <% else %>
            <% @product.get_recom_products.each do |re_product| %>
                <%= render 'spree/products/recom_product_item', product: re_product %>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% unless @product.is_master? %>
    <%= render 'spree/products/google_search_script' %>
<% end %>

<script type="text/javascript">
    $(document).on('ready', function () {
        $('.product-thumb-wrapper').children(":first").find('a').addClass('product-active');
        $(".list-of-recomanded-product").slick({
            infinite: true,
            slidesToShow: 5,
            slidesToScroll: 5,
            dots: false,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false
                    }
                }
            ]
        });

        $(".list-of-recomanded-product-hor").slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: false,
            vertical: true,
            responsive: [
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: false,
                        vertical: false
                    }
                }
            ]
        });

    });

    $('.size-selection').click(function () {
        var size = $(this).data("size_value");
        $('#size').val(size)
    });

    $('.member-size-selection').click(function () {
        var size = $(this).data("size_value");
        $(this).parents('.product-table-container').find('#size').val(size);
    });

    $('.select_member_varient').click(function () {
        var varient = $(this).data("variant");
        $(this).parents('.product-table-container').find('#variant_id').val(varient);
    });

    $(function () {
        $('.add-to-cart-button-cl').click(function () {
            var obj = $(this).parents('.product-btn');
            obj.css('position', 'relative');
            obj.find('.alert-error').addClass('custom-alert-place');
        });
    });
</script>

<script type="text/javascript">
    $(function (e) {
        $('#product-thumb-image').stick_in_parent({
            parent: '.data-parent',
            offset_top: 20
        });

        setTimeout(function () {
            $("#product-gallery").slick({
                infinite: false,
                slidesToShow: 4,
                slidesToScroll: 4,
                dots: false,
                vertical: true
            });
        }, 100);
    });
</script>