<div class="taxon" data-hook="taxon">
  <h5 class="subtaxon-title"><%= link_to taxon.name, category_url(taxon), class: 'breadcrumbs' %></h5>
  <%= render partial: 'spree/shared/products', locals: { products: taxon_preview(taxon), taxon: taxon } %>
</div>
