<!-- Main body Markup -->
<main class="main">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= render 'spree/products/filter' %>
        </div>
        <div class="col-sm-9">
          <div class="page-title product-title uppercase text-center with-bb">
            <h1><%= @taxon.name %></h1>
          </div>
          <ol class="breadcrumb transparent visible-xs">
            <li><a href="#">Women's Apparel</a></li>
            <li class="active">Activewear</li>
          </ol>

          <div class='featured-product'>
            <%= render 'spree/products/featured_category' %>
          </div>

          <div class="clear"></div>
          <%= render 'spree/products/pagination' %>
          <div class="clear"></div>

          <div class="category-product-listing product-listings">
            <div class="row all-products">
              <!--<ul class="all-products three-column push10 floated-list clearfix">-->
              <%= render partial: 'spree/shared/products' %>
              <!--</ul>-->
            </div>
          </div>
          <%= render 'spree/products/pagination' %>
        </div>
      </div>
    </div>
  </div>
</main>