<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>Discount Coupon Code</h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'spree/public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right">
            <h1> Coupon </h1>

            <p>
              Content coming.....
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>