<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h1 style="margin-bottom: 10px; font-size: 28px;">Shop With Confidence! </h1>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'spree/public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right safe-shopping-wrapper">
            <h2> BrandCruz.com Safe Shopping Guarantee - Protection Against Credit Card Fraud: </h2>

            <p>
              Shopping on BrandCruz.com is safe. Every credit card purchase is covered by our Safe Shopping Guarantee:
            </p>
            <ul>
              <li>
                Under the Fair Credit Billing Act, your bank cannot hold you liable for more than $50.00 of
                fraudulent charges. If your bank does hold you liable for any of this $50.00, we will cover the
                liability for you, up to the full $50.00. We will only cover this liability if the unauthorized use of
                your credit card resulted through no fault of your own from purchases made on our website while using
                the secure server.
              </li>
              <li>
                In the event of unauthorized use of your credit card, you must notify your credit card provider in
                accordance with its reporting rules and procedures.
              </li>
            </ul>
            <b>Shop Safely and Securely:</b> <br/><br/>

            <p>BrandCruz.com takes great pride in offering a safe and secure online shopping experience.</p>

            <p>
              We understand that the safety of your personal information is extremely important to you. We use a wide
              array of electronic and physical security measures and devices to protect your personal data and credit
              card information from unauthorized access.
            </p>
            <%= image_tag('ssl.jpg') %>
            <p>
              Learn More About How We Protect Your Personal Information
              It doesn't stop there! We're also proud members of:
            </p>
            <%= image_tag('bizrate.gif', class: 'mr25') %>
            <%= image_tag('nextag.gif', class: 'mr5') %>
            <%= image_tag('google_trust.png') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>