<div class="panel panel-default" data-hook="customer_guest">

  <div class="panel-heading">
    <h1 class="panel-title">
      Order Status
    </h1>
  </div>

  <div class="panel-body">
    <div data-hook="customer_fields">
      <div class="col-lg-12">
        <%= form_for @order, url: spree.order_state_path(@order), html: {id: 'update-order-state'} do |f| %>
            <div class="col-sm-6">
              <div class="row">
                <%= f.select :shipment_state, options_for_select(Spree::Order::ORDER_SHIPMENT_STATE.collect { |key, val| [val, key] }, f.object.shipment_state), {}, {class: 'select2'} %>
              </div>

              <div class="row shipments-inputs" style="display: none;">
                <div style="display: block;">
                  <div class="input-group form-group">
                    <%= f.text_field :shipment_date, :class => 'form-control', :value => (f.object.shipment_date.strftime('%m/%d/%Y') if f.object.shipment_date.present?), :placeholder => 'Expected shipment date' %>
                    <span class="input-group-addon">
                      <i class="icon icon-calendar"></i>
                    </span>
                  </div>

                  <div class="form-group">
                    <%= f.number_field :shipment_progress, :class => 'form-control', :placeholder => 'Shipment progress between 1 to 100', max: '100' %>
                  </div>
                  <div class="fomr-group">
                    <%= text_area_tag :comments, '', class: 'form-control', placeholder: 'Comments...' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <button name="button" type="submit" class="btn btn-primary ">
                <span class="icon icon-save"></span> Update Status
              </button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        var element = $('#order_shipment_state');
        var shipment_date = $('#order_shipment_date');
        shipment_date.datepicker({
            minDate: '<%= Date.today.strftime('%m/%d/%Y') %>'
        });

        if (element.val() == 'shipped') {
            $('.shipments-inputs').show();
        }

        element.change(function () {
            if ($(this).val() == 'shipped') {
                $('.shipments-inputs').show();
                shipment_date.focus();
            }
            else {
                $('.shipments-inputs').hide();
            }
        });

        $('#update-order-state').submit(function (e) {
            if (element.val() == 'shipped') {
                if (shipment_date.val() == '') {
                    alert("Please input shipment date");
                    return false;
                }

                if ($("#order_shipment_progress").val() == '') {
                    alert("Please input shipment progress");
                    return false;
                }

                if ($("#comments").val() == '') {
                    alert("Please put some comments");
                    return false;
                }
            }
        });
    });
</script>