<div class="main">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title product-title uppercase text-center with-bb">
            <% if @taxonomy.present? %>
                <% name = "#{@taxonomy.name } >" %>
            <% end %>
            <h2><%= name %> All Brand </h2>
          </div>

          <div class="brand_list">
            <ul>
              <% @brands.each do |brand| %>
                  <%= generate_brand_link(brand) %>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
