<div class="login-block">
  <div id="password-credentials">
    <p>
      <%= f.label :email, 'Email Address' %>
      <%= f.email_field :email, :class => 'login-input-type form-control', :placeholder => Spree.t(:email) %>
    </p>

    <p>
      <%= f.label :password, 'Password' %>
      <%= f.password_field :password, :class => 'login-input-type form-control', :placeholder => Spree.t(:password) %>
    </p>

    <p>
      <%= f.label :password, 'Password' %>
      <%= f.password_field :password_confirmation, :class => 'login-input-type form-control', :placeholder => Spree.t(:confirm_password) %>
    </p>
  </div>
</div>