<div class="col-md-6 col-md-offset-3">
  <!--<div class="panel panel-default">-->
  <div class="panel-heading">
    <h3 class="panel-title"> EDIT USER ACCOUNT </h3>
  </div>
  <div class="panel-body">
    <%= render :partial => 'spree/shared/error_messages', :locals => {:target => @user} %>

    <%= form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f| %>
        <%= render :partial => 'spree/users/edit_form', :locals => {:f => f} %>
        <p class="clearfix">
          <%= f.submit Spree.t(:update), :class => 'common-btn uppercase pull-right' %>
        </p>
    <% end %>
  </div>
  <!--</div>-->
</div>