<% admin = try_spree_current_user.try(:has_spree_role?, "admin") %>

<header class="header <%= admin ? "logged-in" : "logged-out" %>">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header col-sm-3 col-md-2">
          <%= link_to(
                      image_tag(Spree::Config[:admin_interface_logo], id: 'logo'),
                      spree.admin_path,
                      class: "logo navbar-brand"
              ) %>
          <% if admin || try_spree_current_user.try(:has_spree_role?, "sub_admin") %>
            <span class="navbar-toggle" id="sidebar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
          <% end %>
        </div>

        <% if admin || try_spree_current_user.try(:has_spree_role?, "sub_admin") %>
            <div class="col-sm-9 col-md-10">
              <div class="navbar-right" data-hook="admin_login_navigation_bar"></div>
            </div>
        <% end %>
      </div>
    </div>
  </nav>

</header>
