<table class="table table-bordered" id='payments' data-order-id='<%= @order.number %>'>
  <thead>
  <tr data-hook="payments_header">
    <th class="actions text-center">Show CC</th>
    <th class="actions text-center">Name on Card</th>
    <th class="text-center">Month</th>
    <th class="actions text-center">Year</th>
    <th class="actions text-center">Last 4 Digits</th>
    <th class="actions text-center">CVV</th>
  </tr>
  </thead>
  <tbody>
  <% payments.each do |payment| %>
      <tr id="<%= dom_id(payment) %>" data-hook="payments_row">
        <td>
          <%= link_to 'Show CC', spree.show_cc_path(payment.id), remote: true, class: "show-cc-#{payment.id}" %>
        </td>
        <td> <%= payment.name %> </td>
        <td><%= payment.month %></td>
        <td><%= payment.year %></td>
        <td><%= payment.last_digits %></td>
        <td><%= payment.cc_type %></td>
      </tr>
  <% end %>
  </tbody>
</table>