<div class="col-sm-12 featured-category-listing">
  <div class="row">
    <% @featured_category.each do |cat| %>
        <div class="<%= AppSetting::HOME_PAGE_FEATURED_LIST_CLASS["#{@taxonomy.slug}"] %> custom-column featured-category-item">
          <div id="chanelCatIconImgDiv" class="iconImgLarge  text-center">
            <a href="<%= category_url(cat) %>">
              <img src="<%= cat.featured_image %>">
            </a>
          </div>
          <div class="iconTextLarge">
            <a href="<%= category_url(cat) %>">
              <h2 id="cate_Furniture"><%= cat.name %></h2>
            </a>
          </div>
        </div>
    <% end %>
  </div>
</div>