<aside class="aside">
  <ol class="breadcrumb transparent hidden-xs">
    <li><a href="#">Menu </a></li>
    <li class="active"><a href="#"><%= @taxonomy.name %> </a></li>
  </ol>
  <div class="filters">
    <div class="filter-text gothamNarrowBold clearfix">
      Filter By
      <i class="glyphicon glyphicon-menu-down visible-xs pull-right"></i>
    </div>
    <div class="panel-group customPanel product-listing-panel category-sidebar-wrapper" id="accordion">
      <% @taxonomy.top_categories.each do |top_cat| %>
          <% if top_cat.sub_taxons.present? %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse">
                      <%= top_cat.name %>
                    </a>
                  </h4>
                </div>
                <div class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="filterboxes size-box">
                      <ul class="floated-list clearfix">
                        <% top_cat.sub_taxons.each do |sub| %>
                            <li style="width: 100%; float: none; text-align: left;">
                              <%= link_to sub.name, category_url(sub) %>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>
      <!--<div class="category-banner-wrapper">-->
        <!--<a href="#"><%#= image_tag 'category-sidebar-banner.jpg', alt: "", class: "img-fluid" %></a>-->
      <!--</div>-->
    </div>
  </div>
</aside>