<div style="margin-top: 15px">
  <p> Time to shop 100's of specials! </p>
</div>
<div class="col-sm-12">
  <div class="row">
    <% @specialshop.each do |shop| %>
        <div class="col-sm-6 col-lg-3 col-md-4 custom-column mb10">
          <div id="chanelCatIconImgDiv" class="iconImgLarge text-center">
            <img src="<%= shop.image %>" class="mb10">
          </div>
          <div class="iconTextLarge">
            <div id="cate_Furniture"><%= shop.name %></div>
          </div>
        </div>
    <% end %>
  </div>
</div>