<!-- Main body Markup -->
<main class="main">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= render 'spree/taxonomies/filter_category' %>
        </div>
        <div class="col-sm-9">
          <div class="page-title product-title uppercase text-center with-bb">
            <h1><%= @taxonomy.name %></h1>
          </div>

          <% if @featured_category.present? %>
              <%= render 'spree/taxonomies/featured_category' %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</main>