<div id="main-container">
  <div class="container">
    <div class="row space-20">
      <% @body_id = 'signup' %>


      <div class="col-md-6 col-md-offset-3">

        <%= render :partial => 'spree/shared/error_messages', :locals => {:target => @user} %>

        <div id="new-customer" class="panel-body" data-hook="login">
          <%#= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
              <!--<div data-hook="signup_inside_form">-->
                <!--<%#= render :partial => 'spree/shared/user_form', :locals => {:f => f} %>-->
                <!--<p><%#= f.submit Spree.t(:create), :class => 'btn btn-lg btn-success btn-block' %></p>-->
              <!--</div>-->
          <%# end %>
          <%= render 'spree/shared/user_form' %>
          <div class="text-centerxx">
            <%= Spree.t(:or) %>
            <%= link_to Spree.t(:login_as_existing), spree.user_session_path %>
          </div>
          <div data-hook="login_extras"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render 'spree/shared/form_validation_script' %>