.link-with-decoration {
  text-decoration: underline !important;
}

.no-padding {
  padding: 0 !important;
}

.privacy-policy {
  border-top: 1px solid #d9d9d9;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.margin_top_20 {
  margin-top: 20px;
}

.modal-header {
  border: none !important;
}

.modal-footer {
  border: none !important;
  background-color: #000;
}

.make-shopping-easy-bullet {
  margin-bottom: 0;
  li {
    padding: 5px;
  }
}

.margin_26 {
  margin: 26px;
}

.footer-content {
  text-align: center;
  color: white;
}

.selection {
  padding-left: 5px;
}

.product-active {
  position: relative;
  &:before {
    position: absolute;
    border: solid 1px red;
    left: -5px;
    top: 0;
    bottom: 0;
    content: '';
  }

  //border-left: 2px solid red !important;
  //margin-left: 5px;
}