.currency-content {
  width: 70%;
  padding: auto;
  margin: auto;
  h2 {
    text-align: center;
  }

  .currency-change-option {
    width: 100%;
    padding: 40px;
    margin-bottom: 20px;
    background: #eee none repeat scroll 0 0;

    p {
      padding-bottom: 15px;
    }
  }
}