.shipping-address-form label {
  font-weight: bold;
}

.custom-form-group {
  span {
    font-size: 10px;
    color: #777;
  }
}

.custom-radio-btn ul {
  overflow: auto;
}

.custom-radio-btn > div > img {
  width: 100%;
}

.custom-radio-btn li {
  border: 1px solid #CCC;
  color: #ccc;
  display: block;
  float: left;
  height: 80px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.custom-radio-btn li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.custom-radio-btn li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 20px 25px 25px 50px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.custom-radio-btn li .check {
  border: 1px solid #aaaaaa;
  border-radius: 100%;
  display: block;
  height: 18px;
  left: 20px;
  position: absolute;
  top: 30px;
  /*transition: border 0.25s linear 0s;*/
  width: 18px;
  z-index: 5;
}

.custom-radio-btn li .check::before {
  border-radius: 100%;
  content: "";
  display: block;
  height: 10px;
  left: 3px;
  margin: auto;
  position: absolute;
  top: 3px;
  /*transition: background 0.25s linear 0s;*/
  width: 10px;
}

input[type=radio]:checked ~ .check {
  border: 1px solid #ccc;
}

input[type=radio]:checked ~ .check::before {
  background: #8c8c8c;
}

input[type=radio]:checked ~ label {
  color: #ccc;
}

.label-wrap, .label-wrap p {
  font-size: 12px;
  color: #c6c6c6 !important;
}

.label-wrap strong {
  float: right;
  font-size: 12px;
  color: red;
}

.shipping-method h3 {
  margin: 15px 0 5px 0;
}

.gift-option h3 {
  margin-top: 25px;
}

.gift-option {
  .checkbox {
    label {
      padding-left: 25px;
    }
    input[type = 'checkbox'] {
      top: -2px;
      left: 20px;
    }
  }
}

/* No border table design */
.order-table .table tbody > tr > td {
  padding: 7px;
}

.border-bottom {
  border-bottom: 1px solid #e1e1e1;
}

.red-color {
  color: red;
}

.font-italic {
  color: red;
  font-style: italic;
}

.total-order td {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

.continue-btn {
  margin-bottom: 20px;
}

/* Place order btn */
.continue-btn input {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  font-size: 15px;
  padding: 8px 48px;
}

.place-order-btn {
  min-width: 365px;
  float: right;
}

.place-order-btn div input {
  background-color: #696668;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.shipping-address h4, .shipping-method h4 {
  font-size: 23px;
  font-weight: bold;
  color: #666666;
  margin-bottom: 18px;
}

.shipping-address p, .shipping-method p {
  font-size: 18px;
  line-height: 25px;

}

.shipping-address .btn-edit {
  background-color: #EEEDEE;
  color: #777;
  border: 1px solid #333;
  padding: 10px 58px 10px 58px;
  font-size: 18px;
  font-weight: normal;
}

/* Chose payment method design */
.payment-method-form-container {
  background-color: #eeedee;
  padding: 10px 25px 5px;
}

.payment-method-form-container input {
  min-height: 45px;
}

.payment-method-form label {
  font-weight: bold;
}

.billing-address {
  margin-bottom: 15px;
}

.billing-address > h3 {
  margin-bottom: 25px;
}

.radio-btn-shipping-address .checkbox label > span {
  font-weight: bold;
}

.radio-btn-shipping-address .checkbox label > p {
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  //margin-left: 30px;
  margin-top: 10px;
}

/* Thanks page design */

.thanks-order-container > h4 {
  font-size: 16px;
}

.thanks-order-container > p {
  font-size: 12px;
}

.left-bill {
  float: left;
  width: 50%;
}

.right-bill {
  float: left;
  padding-left: 20px;
  width: 50%;
}

.left-bill > h4, .right-bill > h4 {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 7px;
}

.bill-to-details ul > li > span {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  min-width: 60px;
}

.bill-container {
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.shipping-method-wrap > h3, .contact-info > h3 {
  font-size: 16px;
  font-weight: bold;
}

.contact-info {
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.shipping-contact-info {
  border-bottom: 1px solid #ccc;
}

.product-list-container {
  width: 60%;
}

.shipping-method-wrap {
  margin-bottom: 50px;
}

.product-item-table tbody > tr > td > img {
  width: 80px;
}

.product-item-table tbody > tr {
  border-bottom: 1px solid #ccc;
}

.product-item-table tbody > tr > td > strong {
  font-weight: bold;
}

.product-item-table tbody > tr > td > label {
  color: #000;
  font-weight: bold;
  margin: 0;
}

@media screen and (min-width: 745px) {
  .summary-wrap {
    margin-top: 15px;
  }

  .place-order-btn {
    float: inherit;
  }

}

@media screen and (min-width: 435px) {
  .summary-wrap {
    margin-top: 15px;
  }

  .place-order-btn {
    float: inherit;
  }
}

