/*!
 * Generated with CSS flag-small Sprite generator (https://www.flag-small-sprites.com/)
 */

.flag-small {
  display: inline-block;
  width: 25px;
  height: 15px;
  vertical-align: middle;
  background: asset-url('flags_small.png') no-repeat;
}

.flag-small.flag-small-cn {
  background-position: -325px -30px;
}

.flag-small.flag-small-ad {
  background-position: 0 0;
}

.flag-small.flag-small-tf {
  background-position: -75px -195px;
}

.flag-small.flag-small-np {
  background-position: -125px -150px;
}

.flag-small.flag-small-by {
  background-position: -50px -30px;
}

.flag-small.flag-small-th {
  background-position: -125px -195px;
}

.flag-small.flag-small-bg {
  background-position: -125px -15px;
}

.flag-small.flag-small-cd {
  background-position: -125px -30px;
}

.flag-small.flag-small-az {
  background-position: -375px 0;
}

.flag-small.flag-small-mq {
  background-position: -75px -135px;
}

.flag-small.flag-small-ms {
  background-position: -125px -135px;
}

.flag-small.flag-small-ne {
  background-position: -375px -135px;
}

.flag-small.flag-small-st {
  background-position: -325px -180px;
}

.flag-small.flag-small-bl {
  background-position: -225px -15px;
}

.flag-small.flag-small-tv {
  background-position: -350px -195px;
}

.flag-small.flag-small-rs {
  background-position: -275px -165px;
}

.flag-small.flag-small-mx {
  background-position: -250px -135px;
}

.flag-small.flag-small-kh {
  background-position: -50px -105px;
}

.flag-small.flag-small-gg {
  background-position: -350px -60px;
}

.flag-small.flag-small-vu {
  background-position: -325px -210px;
}

.flag-small.flag-small-ag {
  background-position: -75px 0;
}

.flag-small.flag-small-dj {
  background-position: -125px -45px;
}

.flag-small.flag-small-io {
  background-position: -150px -90px;
}

.flag-small.flag-small-ly {
  background-position: -125px -120px;
}

.flag-small.flag-small-fi {
  background-position: -50px -60px;
}

.flag-small.flag-small-mh {
  background-position: -300px -120px;
}

.flag-small.flag-small-cm {
  background-position: -300px -30px;
}

.flag-small.flag-small-kr {
  background-position: -175px -105px;
}

.flag-small.flag-small-bn {
  background-position: -275px -15px;
}

.flag-small.flag-small-mt {
  background-position: -150px -135px;
}

.flag-small.flag-small-mg {
  background-position: -275px -120px;
}

.flag-small.flag-small-tm {
  background-position: -225px -195px;
}

.flag-small.flag-small-sn {
  background-position: -250px -180px;
}

.flag-small.flag-small-fo {
  background-position: -150px -60px;
}

.flag-small.flag-small-nz {
  background-position: -200px -150px;
}

.flag-small.flag-small-vc {
  background-position: -200px -210px;
}

.flag-small.flag-small-co {
  background-position: -350px -30px;
}

.flag-small.flag-small-zm {
  background-position: -75px -225px;
}

.flag-small.flag-small-br {
  background-position: -325px -15px;
}

.flag-small.flag-small-eg {
  background-position: -300px -45px;
}

.flag-small.flag-small-tw {
  background-position: -375px -195px;
}

.flag-small.flag-small-tl {
  background-position: -200px -195px;
}

.flag-small.flag-small-mm {
  background-position: -375px -120px;
}

.flag-small.flag-small-is {
  background-position: -225px -90px;
}

.flag-small.flag-small-dz {
  background-position: -225px -45px;
}

.flag-small.flag-small-ws {
  background-position: -375px -210px;
}

.flag-small.flag-small-pn {
  background-position: -50px -165px;
}

.flag-small.flag-small-vi {
  background-position: -275px -210px;
}

.flag-small.flag-small-hu {
  background-position: -25px -90px;
}

.flag-small.flag-small-eu {
  background-position: -25px -60px;
}

.flag-small.flag-small-bm {
  background-position: -250px -15px;
}

.flag-small.flag-small-gi {
  background-position: 0 -75px;
}

.flag-small.flag-small-td {
  background-position: -50px -195px;
}

.flag-small.flag-small-tk {
  background-position: -175px -195px;
}

.flag-small.flag-small-pl {
  background-position: 0 -165px;
}

.flag-small.flag-small-bd {
  background-position: -50px -15px;
}

.flag-small.flag-small-ax {
  background-position: -350px 0;
}

.flag-small.flag-small-af {
  background-position: -50px 0;
}

.flag-small.flag-small-lu {
  background-position: -75px -120px;
}

.flag-small.flag-small-gs {
  background-position: -175px -75px;
}

.flag-small.flag-small-tj {
  background-position: -150px -195px;
}

.flag-small.flag-small-kg {
  background-position: -25px -105px;
}

.flag-small.flag-small-mp {
  background-position: -50px -135px;
}

.flag-small.flag-small-mu {
  background-position: -175px -135px;
}

.flag-small.flag-small-re {
  background-position: -225px -165px;
}

.flag-small.flag-small-hk {
  background-position: -300px -75px;
}

.flag-small.flag-small-gt {
  background-position: -200px -75px;
}

.flag-small.flag-small-lk {
  background-position: -375px -105px;
}

.flag-small.flag-small-na {
  background-position: -325px -135px;
}

.flag-small.flag-small-bt {
  background-position: -375px -15px;
}

.flag-small.flag-small-bw {
  background-position: -25px -30px;
}

.flag-small.flag-small-vn {
  background-position: -300px -210px;
}

.flag-small.flag-small-ca {
  background-position: -100px -30px;
}

.flag-small.flag-small-lv {
  background-position: -100px -120px;
}

.flag-small.flag-small-ht {
  background-position: 0 -90px;
}

.flag-small.flag-small-la {
  background-position: -275px -105px;
}

.flag-small.flag-small-my {
  background-position: -275px -135px;
}

.flag-small.flag-small-cz {
  background-position: -75px -45px;
}

.flag-small.flag-small-cr {
  background-position: -375px -30px;
}

.flag-small.flag-small-fk {
  background-position: -100px -60px;
}

.flag-small.flag-small-tn {
  background-position: -250px -195px;
}

.flag-small.flag-small-er {
  background-position: -350px -45px;
}

.flag-small.flag-small-al {
  background-position: -125px 0;
}

.flag-small.flag-small-tg {
  background-position: -100px -195px;
}

.flag-small.flag-small-sm {
  background-position: -225px -180px;
}

.flag-small.flag-small-lc {
  background-position: -325px -105px;
}

.flag-small.flag-small-an {
  background-position: -175px 0;
}

.flag-small.flag-small-bf {
  background-position: -100px -15px;
}

.flag-small.flag-small-nc {
  background-position: -350px -135px;
}

.flag-small.flag-small-sj {
  background-position: -150px -180px;
}

.flag-small.flag-small-jo {
  background-position: -350px -90px;
}

.flag-small.flag-small-za {
  background-position: -50px -225px;
}

.flag-small.flag-small-ga {
  background-position: -200px -60px;
}

.flag-small.flag-small-ae {
  background-position: -25px 0;
}

.flag-small.flag-small-mc {
  background-position: -175px -120px;
}

.flag-small.flag-small-gr {
  background-position: -150px -75px;
}

.flag-small.flag-small-pe {
  background-position: -275px -150px;
}

.flag-small.flag-small-us {
  background-position: -100px -210px;
}

.flag-small.flag-small-ls {
  background-position: -25px -120px;
}

.flag-small.flag-small-pt {
  background-position: -125px -165px;
}

.flag-small.flag-small-jm {
  background-position: -325px -90px;
}

.flag-small.flag-small-ge {
  background-position: -275px -60px;
}

.flag-small.flag-small-lt {
  background-position: -50px -120px;
}

.flag-small.flag-small-ma {
  background-position: -150px -120px;
}

.flag-small.flag-small-lb {
  background-position: -300px -105px;
}

.flag-small.flag-small-jp {
  background-position: -375px -90px;
}

.flag-small.flag-small-pa {
  background-position: -250px -150px;
}

.flag-small.flag-small-bv {
  background-position: 0 -30px;
}

.flag-small.flag-small-li {
  background-position: -350px -105px;
}

.flag-small.flag-small-fm {
  background-position: -125px -60px;
}

.flag-small.flag-small-sr {
  background-position: -300px -180px;
}

.flag-small.flag-small-hr {
  background-position: -375px -75px;
}

.flag-small.flag-small-mr {
  background-position: -100px -135px;
}

.flag-small.flag-small-sb {
  background-position: -375px -165px;
}

.flag-small.flag-small-ec {
  background-position: -250px -45px;
}

.flag-small.flag-small-cu {
  background-position: 0 -45px;
}

.flag-small.flag-small-pm {
  background-position: -25px -165px;
}

.flag-small.flag-small-ee {
  background-position: -275px -45px;
}

.flag-small.flag-small-om {
  background-position: -225px -150px;
}

.flag-small.flag-small-no {
  background-position: -100px -150px;
}

.flag-small.flag-small-sz {
  background-position: 0 -195px;
}

.flag-small.flag-small-ao {
  background-position: -200px 0;
}

.flag-small.flag-small-gd {
  background-position: -250px -60px;
}

.flag-small.flag-small-lr {
  background-position: 0 -120px;
}

.flag-small.flag-small-ba {
  background-position: 0 -15px;
}

.flag-small.flag-small-sa {
  background-position: -350px -165px;
}

.flag-small.flag-small-kp {
  background-position: -150px -105px;
}

.flag-small.flag-small-aw {
  background-position: -325px 0;
}

.flag-small.flag-small-ci {
  background-position: -225px -30px;
}

.flag-small.flag-small-wf {
  background-position: -350px -210px;
}

.flag-small.flag-small-ps {
  background-position: -100px -165px;
}

.flag-small.flag-small-cv {
  background-position: -25px -45px;
}

.flag-small.flag-small-se {
  background-position: -50px -180px;
}

.flag-small.flag-small-mn {
  background-position: 0 -135px;
}

.flag-small.flag-small-bz {
  background-position: -75px -30px;
}

.flag-small.flag-small-ml {
  background-position: -350px -120px;
}

.flag-small.flag-small-as {
  background-position: -250px 0;
}

.flag-small.flag-small-au {
  background-position: -300px 0;
}

.flag-small.flag-small-sv {
  background-position: -350px -180px;
}

.flag-small.flag-small-yt {
  background-position: -25px -225px;
}

.flag-small.flag-small-do {
  background-position: -200px -45px;
}

.flag-small.flag-small-at {
  background-position: -275px 0;
}

.flag-small.flag-small-cf {
  background-position: -150px -30px;
}

.flag-small.flag-small-kz {
  background-position: -250px -105px;
}

.flag-small.flag-small-tc {
  background-position: -25px -195px;
}

.flag-small.flag-small-ro {
  background-position: -250px -165px;
}

.flag-small.flag-small-sh {
  background-position: -100px -180px;
}

.flag-small.flag-small-ph {
  background-position: -350px -150px;
}

.flag-small.flag-small-es {
  background-position: -375px -45px;
}

.flag-small.flag-small-bo {
  background-position: -300px -15px;
}

.flag-small.flag-small-pr {
  background-position: -75px -165px;
}

.flag-small.flag-small-gh {
  background-position: -375px -60px;
}

.flag-small.flag-small-ky {
  background-position: -225px -105px;
}

.flag-small.flag-small-am {
  background-position: -150px 0;
}

.flag-small.flag-small-hn {
  background-position: -350px -75px;
}

.flag-small.flag-small-um {
  background-position: -75px -210px;
}

.flag-small.flag-small-ke {
  background-position: 0 -105px;
}

.flag-small.flag-small-mo {
  background-position: -25px -135px;
}

.flag-small.flag-small-bb {
  background-position: -25px -15px;
}

.flag-small.flag-small-et {
  background-position: 0 -60px;
}

.flag-small.flag-small-ie {
  background-position: -75px -90px;
}

.flag-small.flag-small-gu {
  background-position: -225px -75px;
}

.flag-small.flag-small-gy {
  background-position: -275px -75px;
}

.flag-small.flag-small-ni {
  background-position: -50px -150px;
}

.flag-small.flag-small-vg {
  background-position: -250px -210px;
}

.flag-small.flag-small-gp {
  background-position: -100px -75px;
}

.flag-small.flag-small-km {
  background-position: -100px -105px;
}

.flag-small.flag-small-gb {
  background-position: -225px -60px;
}

.flag-small.flag-small-sc {
  background-position: 0 -180px;
}

.flag-small.flag-small-id {
  background-position: -50px -90px;
}

.flag-small.flag-small-gf {
  background-position: -300px -60px;
}

.flag-small.flag-small-sy {
  background-position: -375px -180px;
}

.flag-small.flag-small-py {
  background-position: -175px -165px;
}

.flag-small.flag-small-fr {
  background-position: -175px -60px;
}

.flag-small.flag-small-gw {
  background-position: -250px -75px;
}

.flag-small.flag-small-ru {
  background-position: -300px -165px;
}

.flag-small.flag-small-md {
  background-position: -200px -120px;
}

.flag-small.flag-small-mv {
  background-position: -200px -135px;
}

.flag-small.flag-small-cg {
  background-position: -175px -30px;
}

.flag-small.flag-small-ir {
  background-position: -200px -90px;
}

.flag-small.flag-small-pw {
  background-position: -150px -165px;
}

.flag-small.flag-small-mf {
  background-position: -250px -120px;
}

.flag-small.flag-small-gm {
  background-position: -50px -75px;
}

.flag-small.flag-small-mk {
  background-position: -325px -120px;
}

.flag-small.flag-small-it {
  background-position: -250px -90px;
}

.flag-small.flag-small-ai {
  background-position: -100px 0;
}

.flag-small.flag-small-ch {
  background-position: -200px -30px;
}

.flag-small.flag-small-iq {
  background-position: -175px -90px;
}

.flag-small.flag-small-bh {
  background-position: -150px -15px;
}

.flag-small.flag-small-so {
  background-position: -275px -180px;
}

.flag-small.flag-small-gl {
  background-position: -25px -75px;
}

.flag-small.flag-small-kw {
  background-position: -200px -105px;
}

.flag-small.flag-small-cl {
  background-position: -275px -30px;
}

.flag-small.flag-small-in {
  background-position: -125px -90px;
}

.flag-small.flag-small-ki {
  background-position: -75px -105px;
}

.flag-small.flag-small-sl {
  background-position: -200px -180px;
}

.flag-small.flag-small-pg {
  background-position: -325px -150px;
}

.flag-small.flag-small-eh {
  background-position: -325px -45px;
}

.flag-small.flag-small-kn {
  background-position: -125px -105px;
}

.flag-small.flag-small-nr {
  background-position: -150px -150px;
}

.flag-small.flag-small-sd {
  background-position: -25px -180px;
}

.flag-small.flag-small-bs {
  background-position: -350px -15px;
}

.flag-small.flag-small-ye {
  background-position: 0 -225px;
}

.flag-small.flag-small-uz {
  background-position: -150px -210px;
}

.flag-small.flag-small-tt {
  background-position: -325px -195px;
}

.flag-small.flag-small-de {
  background-position: -100px -45px;
}

.flag-small.flag-small-mw {
  background-position: -225px -135px;
}

.flag-small.flag-small-dm {
  background-position: -175px -45px;
}

.flag-small.flag-small-uy {
  background-position: -125px -210px;
}

.flag-small.flag-small-rw {
  background-position: -325px -165px;
}

.flag-small.flag-small-hm {
  background-position: -325px -75px;
}

.flag-small.flag-small-tz {
  background-position: 0 -210px;
}

.flag-small.flag-small-me {
  background-position: -225px -120px;
}

.flag-small.flag-small-gn {
  background-position: -75px -75px;
}

.flag-small.flag-small-dk {
  background-position: -150px -45px;
}

.flag-small.flag-small-ua {
  background-position: -25px -210px;
}

.flag-small.flag-small-bj {
  background-position: -200px -15px;
}

.flag-small.flag-small-pk {
  background-position: -375px -150px;
}

.flag-small.flag-small-zw {
  background-position: -100px -225px;
}

.flag-small.flag-small-sg {
  background-position: -75px -180px;
}

.flag-small.flag-small-nl {
  background-position: -75px -150px;
}

.flag-small.flag-small-ck {
  background-position: -250px -30px;
}

.flag-small.flag-small-be {
  background-position: -75px -15px;
}

.flag-small.flag-small-ar {
  background-position: -225px 0;
}

.flag-small.flag-small-fj {
  background-position: -75px -60px;
}

.flag-small.flag-small-il {
  background-position: -100px -90px;
}

.flag-small.flag-small-nu {
  background-position: -175px -150px;
}

.flag-small.flag-small-ng {
  background-position: -25px -150px;
}

.flag-small.flag-small-to {
  background-position: -275px -195px;
}

.flag-small.flag-small-gq {
  background-position: -125px -75px;
}

.flag-small.flag-small-sk {
  background-position: -175px -180px;
}

.flag-small.flag-small-mz {
  background-position: -300px -135px;
}

.flag-small.flag-small-si {
  background-position: -125px -180px;
}

.flag-small.flag-small-ug {
  background-position: -50px -210px;
}

.flag-small.flag-small-nf {
  background-position: 0 -150px;
}

.flag-small.flag-small-bi {
  background-position: -175px -15px;
}

.flag-small.flag-small-cy {
  background-position: -50px -45px;
}

.flag-small.flag-small-je {
  background-position: -300px -90px;
}

.flag-small.flag-small-ve {
  background-position: -225px -210px;
}

.flag-small.flag-small-qa {
  background-position: -200px -165px;
}

.flag-small.flag-small-va {
  background-position: -175px -210px;
}

.flag-small.flag-small-tr {
  background-position: -300px -195px;
}

.flag-small.flag-small-pf {
  background-position: -300px -150px;
}
