.footer-widget-single {
  margin-bottom: 25px;
  color: #000;
  h5 {
    font-size: 15px;
  }

  a {
    font-size: 12px;
  }
}

.footer-main {
  background: #ebebeb;
  border: 1px solid #d1cfcf;
}

.footer-main h1, .footer-main h2, .footer-main h3, .footer-main h4, .footer-main h5, .footer-main h6, .footer-main p, .footer-main a, .footer-main li {
  color:  #000;
}

.footer-bottom {
  border-top: 1px solid #d1cfcf;
  padding: 35px 0 15px;
}

.footer-social {
  margin: 0 15px 15px;
}