.header-top {
  background: #000;
  ul {
    display: inline-block
  }
  li {
    line-height: 15px;
    border-right: 1px solid #333;
    margin-right: 15px;
    padding: 8px 15px 6px 0;
    display: inline-block;
    font-size: 13px;
    color: #aaa;
    font-weight: 500;
    &:last-child {
      border-right: 0;
      margin-right: 0;
      padding-right: 0
    }
    a {
      color: #aaa;
      font-size: 13px;
      text-decoration: none;
      &:hover {
        color: #cccccc;
      }
    }
  }
}

.header-main {
  .header-with-search {
    display: block;
    padding: 20px 0;
    position: relative;
    width: 100%;
  }
}

.header-navigation-search {
  display: block;
  margin: 5px auto auto auto;
  max-width: 340px;
  position: relative;
}

#navigation a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative
}