.landing-image-wrapper {
  position: relative;
  a {
    padding: 15px 15px 10px 15px;
    color: #007EDA !important;
    position: absolute;
    bottom: 13%;
    background: #ffffff;
    text-transform: uppercase;
    min-width: 130px;
    text-align: center;
    letter-spacing: 1px;
    &:hover {
      text-decoration: none;
      color: blue;
    }
    &.shop-women {
      left: 35%;
    }
    &.shop-men {
      left: 55%;
    }
  }
}

@media (max-width: 992px) {
  .landing-image-wrapper {
    position: relative;
    a {
      font-size: 13px;
      min-width: 100px;
      bottom: 12%;
      padding: 12px 15px 8px 15px;
      &.shop-women {
        left: 32%;
      }
      &.shop-men {
        left: 55%;
      }
    }
  }
}

@media (max-width: 600px) {
  .landing-image-wrapper {
    position: relative;
    a {
      font-size: 12px;
      min-width: 100px;
      bottom: 10%;
      padding: 10px 10px 6px 10px;
      &.shop-women {
        left: 30%;
      }
      &.shop-men {
        left: 60%;
      }
    }
  }
}

@media (max-width: 450px) {
  .landing-image-wrapper {
    position: relative;
    a {
      font-size: 11px;
      min-width: 100px;
      bottom: 10%;
      padding: 10px 10px 6px 10px;
      &.shop-women {
        left: 20%;
      }
      &.shop-men {
        left: 53%;
      }
    }
  }
}