.form-control[disabled].btn-place-order {
  background: #696668;
}

.checkout-menu-block {
  border-bottom: 2px solid #000;
  margin-bottom: 15px;
  padding-bottom: 25px;
  position: relative;
  &:before {
    background: #fff none repeat scroll 0 0;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    bottom: -13px;
    content: "";
    display: block;
    height: 25px;
    margin-left: -17px;
    position: absolute;
    transform: rotate(-45deg);
    width: 25px;
    z-index: 2;
  }
  &.address::before {
    left: 95px;
  }

  &.payment::before {
    left: 285px;
  }

  .progress-bar-img1 {
    img {
      max-width: 100%;
    }
  }
}

.summary-wrap {
  margin-bottom: 10px;
  .order-table {
    box-shadow: 0 -2px 5px 1px rgba(204, 204, 204, 0.75);
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 365px;
    min-width: 335px;
    table {
      width: 100%;
      tbody {
        tr {
          font-size: 14px;
          font-weight: normal;
          .td-value {
            //text-align: right;
          }
          td {
            padding: 5px;
            font-size: 12px;
            font-weight: normal;
          }
        }
      }
    }
  }
}