.product-details {
  h6 {
    margin-top: 10px;
  }
  h4 {
    font-size: 12px;
    margin-bottom: 0 !important;
  }
}

.list-of-recomanded-product-hor {
  padding-left: 0;
  img {
    //height: 80px;
  }
}

.list-of-recomanded-product {
  a {
    font-size: 14px;
    &:hover {
      text-decoration: none;
    }
    .price {
      color: #666666;
    }
  }
}

.recom-product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin: 5px 0 0 0;
}

.product-accordion-details {
  ul {
    padding-left: 25px;
    li {
      font-weight: normal;
      font-size: 15px;
      padding-bottom: 3px;
    }
  }
}

.product-listings {
  .product-item {
    a {
      display: block;
      text-align: center;
    }
  }
}

.featured-product {
  .custom-column {
    min-height: 250px;
    overflow: hidden;
    float: left;
    a {
      text-align: center;
      display: block;
      margin-bottom: 10px;
    }
  }
}

.order-summary-amount {
  span.pull-left {
    display: inline-block;
    min-width: 140px;
  }
}

.product-gallery-wrapper {
  width: 70px;
  float: left;
  //padding-right: 20px;
  a {
    display: inline-block;
    img {
      width: 60px;
    }
  }

}

.my-order-track-lists {
  li {
    &.active {
      a {
        color: #c6000e;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent transparent transparent #c6000e;
          right: 0;
        }

        &:after {
          content: '';
          position: absolute;
          width: 7px;
          height: 7px;
          border-width: 6px;
          border-style: solid;
          border-color: transparent transparent transparent #ffffff;
          right: 4px;
          top: 5px;
        }
      }
    }
    a {
      &:hover {
        color: #c6000e;
      }
    }
  }
}

.zoomer-wrapper {
  //margin-left: 80px;
  //width: 100%;
}

input[type='number'] {
  &.item-quantity {
    border: solid 1px #CCCCCC;
    text-align: center;
    width: 35px;
    margin-bottom: 7px;
  }
}

.cart-customer-also-loved {
  margin: 30px 0;
}

.featured-category-listing {
  margin-top: 15px;
  .featured-category-item {
    a {
      img {
        max-width: 100%;
      }
    }
  }
}

/* New product list design */
.product-table-wrap {
  margin: auto;
  width: 750px;
}

.product-pic {
  float: left;
  width: 110px;
  padding-right: 10px;
  a > img {
    width: 100%;
  }
}

.product-price {
  float: left;
  width: 160px;
  padding-right: 10px;
  text-align: center;
}

.product-info {
  float: left;
  width: 300px;
  padding-right: 10px;
  p > a {
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    font-size: 14px;
    line-height: 1.5;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.search-result-wrapper {
  .result-count {
    border-bottom: 2px solid #aaa;
  }
}

.product-btn {
  float: left;
  width: 107px;
}

.div-box-shadow {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px 2px #ccc;
}

.product-row {
  border-bottom: 1px dashed #999;
  margin-bottom: 15px;
}

.member-size-selection {
  border: 1px solid #777;
  color: #999;
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: #999 !important;
  }
}

.custom-alert-place {
  border-radius: inherit !important;
  bottom: 34px;
  color: #a94442;
  font-size: 11px;
  position: absolute;
  top: -60px;
  content: '';
}

.close-notification {
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  right: 5px;
  top: 0;
}

#product-thumb-image-sticky-wrapper {
  width: 100%;
}

#product-thumb-image {
  width: 99%;
}

.product-big-image-wrapper {
  width: calc(100% - 75px);
  float: right;
}

#add-to-cart-button {
  color: #dfdfdf;
  &:focus, &:active {
    color: #fdfdfd;
  }
}

/* Responsive design */
.product-table-container {
  min-width: 400px;
  padding: 15px;
}

@media screen and (max-width: 850px) {
  .product-table-wrap {
    width: 98%;
  }
  .product-pic {
    width: 15%;
  }
  .product-info {
    width: 52%;
  }
  .product-price {
    width: 15%;
  }
  .product-btn {
    width: 15%;
  }
}

@media only screen and (max-width: 760px) {
  .product-table-wrap {
    width: 98%;
  }
  .product-pic {
    width: 13%;
  }
  .product-info {
    width: 48%;
  }
  .product-price {
    width: 13%;
  }
  .product-btn {
    width: 13%;
  }
  .custom-alert-place {
    min-width: 100px;
  }

  .order-show-product-list {
    .product-list-container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 520px) {

  .product-row {
    width: 100%;
  }
  .product-pic {
    width: 50%;
  }
  .product-info {
    width: 50%;
    margin-bottom: 10px;
  }
  .product-price {
    width: 50%;
    padding-top: 10px;
  }
  .product-btn {
    width: 50%;
  }
  .custom-alert-place {
    min-width: 215px;
    //max-width: 215px;
  }
  .product-table-wrap {
    padding: inherit;
  }

}

@media only screen and (max-width: 460px) {
  .product-row {
    width: 100%;
  }

  .product-pic {
    width: 80%;
  }
  .product-info {
    width: 80%;
  }
  .product-price {
    width: 80%;
  }
  .product-btn {
    width: 80%;
  }
  .color-section {
    padding-left: inherit;
  }
  .product-table-wrap {
    padding: inherit;
  }

}


