.errored {
  .form-error {
    display: block !important;
    color: #c6000e;
  }
}

.public-wrapper {
  font-size: 12px;
  font-family: 'gothamNarrowMedium';
  .glyphicon-menu-down {
    cursor: pointer;
  }
}

img.lazy {
  width: 100%;
  height: 300px;
  display: block;

  /* optional way, set loading as background */
  background-image: image-url('lazy_loading.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background: #cccccc;
}

.warehouse-locations {
  //padding-left: 40px;
  .address-first-title {
    font-weight: bold;
    font-size: 15px;
  }
  .address-title {
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
  }
}

footer a {
  color: #333333;
  &:hover {
    color: #c6000e;
  }
}

.footer-extra-link {
  font-size: 12px;
  color: #333333;
  a {
    color: #333333;
    &:hover {
      color: #c6000e;
      text-decoration: none;
    }
  }
}

.reset-padding {
  padding: 0 !important;
}

.shipping-table {
  width: 100%;
  border: solid 1px #dddddd;
  thead {
    th {
      background: #f5f5f5;
      padding: 5px;
      text-align: center;
      border: solid 1px #dddddd;
    }
  }
  tbody {
    tr {
      td {
        padding: 5px;
        border: solid 1px #dddddd;
        text-align: center;
      }
    }
  }
}

.question-lists {
  .question {
    margin-bottom: 10px;
    ul {
      padding-left: 20px;
      li {
        list-style: disc;
      }
    }
  }
}

.privacy-wrapper, .term-condition {
  ul {
    padding-left: 20px;
    li {
      list-style: disc;
    }
  }
}

.safe-shopping-wrapper {
  h2 {
    font-size: 20px;
  }
  ul {
    padding-left: 20px;
    li {
      list-style: decimal;
    }
  }
}

.faq-topics {
  margin-bottom: 20px;
  ul {
    padding-left: 20px;
    li {
      list-style: decimal;
      a {
        text-decoration: underline;
        &:hover {
          color: #c6000e;
        }
      }
    }
  }
}

.brand_list {
  padding-top: 15px;
}

.brand-list-item {
  max-width: 165px;
  float: left;
}

.custom-pagination {
  .current {
    color: #c6000e;
  }
}

.quick-link-wrapper {
  color: #000000;
  a {
    color: #000000;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.mark-text {
  color: #c6000e !important;
}

.regular-price-color {
  color: #666666;
}

.zoomWindow {
  cursor: image_url('zoom_cursor.png'), default !important;
}

.hover-no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#product-gallery {
  margin-bottom: 5px !important;
}

.site-search-form {
  position: relative;
  .reset-search {
    position: absolute;
    right: 0;
    padding: 10px 8px 5px 6px;
    top: 0;
  }
}

.ui-widget-content {
  border: solid 1px #dfdfdf;
  border-top: none;
  max-width: 230px;
  background: #ffffff;
  -webkit-box-shadow: 0 7px 10px #efefef;
  -moz-box-shadow: 0 7px 10px #efefef;
  box-shadow: 0 7px 10px #efefef;
  border-radius: 0 0 3px 2px;
  .ui-menu-item-wrapper {
    padding: 7px 5px;
    cursor: pointer;
    &:hover {
      background: #dfdfdf;
    }
    &.ui-state-active {
      background: #dfdfdf;
    }
  }

  li {
    &:first-child {
      padding-top: 10px;
    }
  }

  &:before {
    position: absolute;
    height: 15px;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    background: #dfdfdf; /* Old browsers */
    background: -moz-linear-gradient(top, #fdfdfd 1%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fdfdfd 1%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fdfdfd 1%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#ffffff', GradientType=0);
  }

  //.ui-menu-item {
  //  &:first-child {
  //    .ui-menu-item-wrapper {
  //      &:before {
  //        background: #dfdfdf; /* Old browsers */
  //        background: -moz-linear-gradient(top, #dfdfdf 1%, #ffffff 100%); /* FF3.6-15 */
  //        background: -webkit-linear-gradient(top, #dfdfdf 1%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  //        background: linear-gradient(to bottom, #dfdfdf 1%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ffffff', GradientType=0);
  //      }
  //    }
  //  }
  //}
}
