@media (max-width: 992px) {
  .header-navigation-search {
    max-width: 250px;
    float: left;
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .header-logo {
    float: none !important;
  }
  .header-navigation-search {
    max-width: 100%;
    float: none;
    margin: 5px auto auto auto;
  }
  .customer-also-shopped {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
  }

  .list-of-recomanded-product-hor,
  .list-of-recomanded-product,
  .cart-customer-also-loved {
    button {
      display: none !important;
    }
  }
}

//@media(max-width: 534px) {
//  .all-products {
//    .custom-column {
//      width: 100%;
//    }
//  }
//}