/** initial setup **/
@media all and (max-width: 1023px){
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
  .nano > .nano-content {
    position      : absolute;
    overflow      : scroll;
    overflow-x    : hidden;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;
  }
}
.nano > .nano-pane {
  display: none !important;
}