
@mixin transition($property, $duration, $method){
	-webkit-transition: $property $duration $method;
	-o-transition: $property $duration $method;
	transition: $property $duration $method;
}
@mixin transitionDelay($delayTime) {
	-webkit-transition-delay: $delayTime;
	-moz-transition-delay: $delayTime;
	-o-transition-delay: $delayTime;
	transition-delay: $delayTime;
}
@mixin translate($x, $y){
	-webkit-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}
@mixin translate3d($x, $y,$z){
	-webkit-transform: translate3d($x, $y, $z);
	-moz-transform: translate3d($x, $y, $z);
	-ms-transform: translate3d($x, $y, $z);
	-o-transform: translate3d($x, $y, $z);
	transform: translate3d($x, $y, $z);
}
@mixin bgsize($width, $height){
	-webkit-background-size: $width $height;
	background-size: $width $height;
	width: $width;
	height: $height;
}

@mixin coordinates($top, $right, $bottom, $left){
	top: $top;
	right: $right;
	bottom:$bottom;
	left: $left;
}

@mixin rotate($degree){
	-webkit-transform: rotate($degree);
	-ms-transform: rotate($degree);
	-o-transform: rotate($degree);
	transform: rotate($degree);
}

@mixin rotateY($degree){
	-webkit-transform: rotateY($degree);
	-ms-transform: rotateY($degree);
	-o-transform: rotateY($degree);
	transform: rotateY($degree);
}

@mixin scale($scaleby){
	-webkit-transform: scale($scaleby);
	-ms-transform: scale($scaleby);
	-o-transform: scale($scaleby);
	transform: scale($scaleby);
}

@mixin columns($columns, $fill, $gap, $rule){
	-webkit-column-count: $columns;
	-moz-column-count: $columns;
	-o-column-count: $columns;
	column-count: $columns;

	-webkit-column-fill: $fill;
	-moz-column-fill: $fill;
	-o-column-fill: $fill;
	column-fill: $fill;

	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	-o-column-gap: $gap;
	column-gap: $gap;

	-webkit-column-rule: $rule;
	-moz-column-rule: $rule;
	-o-column-rule: $rule;
	column-rule: $rule;
}

@mixin bdrs($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin boxshadow($method, $hoff, $voff, $blur, $color){
	-box-shadow: inset hoff voff blur color;
}

