<div class="footer-link-wrapper">
  <div>
    <ul>
      <li> <%= link_to 'My Account', spree.account_url %> </li>
      <li> |</li>
      <li><%= link_to 'Help & Contact us', spree.contact_us_url %></li>
      <% if @order.present? %>
          <li> |</li>
          <li><%= link_to 'Order Status & Tracking', spree.shipped_track_url(@order.id) %></li>
      <% end %>
      <li> |</li>
      <li><%= link_to "FAQ’s", spree.faq_url %></li>
    </ul>
  </div>

  <div align="center">
    <p style=" color: #a0a0a0; text-align: center; padding-bottom: 10px; font-size: 13px;">
      © 2009–2017 - Brandcruz.com #120, Las Vegas, NV 89148, USA
    </p>
  </div>
</div>