<div style="margin-top: 10px" class="header-logo-wrapper">
  <img src="<%= image_url('header_logo.png') %>" alt="Brandcruz" style="float: none;"/>
</div>

<div class="menu-link-wrapper">
  <ul style="padding: 20px;">
    <li><%= link_to 'Home', root_url %></li>
    <li><%= link_to 'MEN', spree.menu_url('men') %></li>
    <li><%= link_to 'WOMEN', spree.menu_url('women') %></li>
    <li><%= link_to 'SHOES', spree.menu_url('shoes') %></li>
  </ul>
</div>
