<div class="alert alert-<%= msg_type %> global-alert-notification">
  <%= text %>
  <script type="text/javascript">
      $(function () {
          setTimeout(function () {
              $('.global-alert-notification').remove();
          }, 10000)
      })
  </script>
</div>