<!-- footer start-->
<footer class="footer gothamHTFMedium mb5">
  <div class="footer-links" style="padding: 20px 0 30px">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h3>Customer Service</h3>
          <ul>
            <li><a href="/safe_shopping_guarantee">Safe Shopping Guarantee </a></li>
            <li><a href="/secure_shopping">Secure Shopping </a></li>
            <li><a href="<%= spree.faq_path %>">Frequently asked questions </a></li>
            <li><%= link_to 'Contact us', spree.contact_us_path %></li>
            <li>
              <a href="/change_currency">
                <span class="flag-small flag-small-<%= get_county_code %>"></span> Change country
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h3>SHIPPING & RETURNS</h3>
          <ul>
            <li><a href="<%= domestic_path %>">Domestic</a></li>
            <li><a href="<%= spree.international_path %>">International</a></li>
            <li><a href="/account">Order Status & Tracking</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h3>EXPLORE BRANDCRUZ</h3>
          <ul>
            <li><a href="/c/home-essentials/furniture">Furniture</a></li>
            <li><a href="/c/mens-clothing/basic-clothing">Clothing</a></li>
            <li><a href="/c/sunglasses-and-eyewear/ray-ban">Eyewear</a></li>
            <li><a href="/c/whats-hot/new-arrivals">New Arrivals</a></li>
            <li><a href="/c/featured-shops/outdoor-and-camping">Outdoor</a></li>
            <li><a href="#">Running</a></li>
            <li><a href="/m/shoes">Shoes</a></li>
            <li><a href="/m/watches">Watches</a></li>
            <li><a href="/c/fine-jewelry/wedding-and-engagement-rings">Wedding</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h3>INFORMATION</h3>
          <ul>
            <li>
              <%= link_to 'About Us', '/about_us' %>
            </li>
            <li><a href="/coupon">Coupons</a></li>
            <li>
              <%= link_to 'Career', spree.contact_us_path %>
            </li>
            <li>
              <%= link_to 'Investors', spree.contact_us_path %></li>
            <li>
              <%= link_to 'Contact us', spree.contact_us_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- .footer-main end-->
</footer>
<div class="footer-extra-link">
  <div class="text-center mb10">
    <a href="/term_condition" class="mr5"> Terms Of Use </a> .
    <a href="/privacy_policy" class="ml5 mr5"> Privacy Policy </a> .
    <a href="<%= spree.contact_us_path %>" class="ml5"> Tell Us What You Think </a>
  </div>
  <div class="container">
    <div class="text-center mb5">
      © 2009–2017 - Brandcruz.com or its affiliates, #120, Las Vegas, NV 89148, USA
      Brandcruz’s Credit and Customer Service, PO Box 86, Columbus, OH 43215. Request our corporate name & address by
      email. Brandcruz.com is operated by HARPERS18 LTD. Products on Brandcruz.com are sold by HARPERS18 LTD
    </div>
  </div>
</div>