<header class="header">
  <!-- .header-top start-->
  <div class="header-top text-xs-center text-lg-right">
    <div class="container">
      <ul class="pull-left">
        <li>
          Free Shipping. Free Return. All the time.
          <a href="<%= cookies[:country_code] == 'US' ? domestic_path : spree.international_path %>" class="link-with-decoration">
            See Details </a>
        </li>
      </ul>
      <ul>
        <% if spree_current_user %>
            <li>
              <%= link_to spree.account_path do %>
                  <b> My Account </b>
              <% end %>
            </li>
            <li>
              <%= link_to spree.account_path do %>
                  <b> My Order </b>
              <% end %>
            </li>
            <li>
              <%= link_to spree.logout_path do %>
                  <b>Sign Out</b>
              <% end %>
            </li>
        <% else %>
            <li>
              <%= link_to spree.user_session_path do %>
                  <b>
                    Welcome, Sign In <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </b>
              <% end %>
            </li>
        <% end %>
        <li>
          <a href="/change_currency">
            <b> Ship To: </b>
          </a>&nbsp;
          <span class="flag-small flag-small-<%= get_county_code %>"></span>
        <li>
          <a href="<%= spree.contact_us_path %>">
            <b> Customer Service </b>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="logo-layer">
    <div class="container">
      <div class="mytable fixed-table-layout-mobile relative">
        <div class="table-cell va-middle toggle-icon">
          <div class="show-in-tab">
            <%= image_tag('toggle-icon.jpg') %>
          </div>
        </div>
        <div class="logo table-cell va-middle">
          <%= link_to root_path do %>
              <%= image_tag('header_logo.png', class: "img-responsive") %>
          <% end %>
        </div>
        <div class="search-cart table-cell va-middle">
          <div class="pull-right">
            <div class="mytable">
              <div class="search-box table-cell va-middle">
                <form action="<%= spree.product_search_path %>" role="form" class="form-horizontal site-search-form">
                  <input type="text" name="keyword" class="form-control" value="<%= params[:keyword].present? ? params[:keyword] : '' %>" placeholder="Search for shoes, clothing, bags...">
                  <% if params[:keyword].present? %>
                      <a href="javascript:void(0)" class="reset-search">
                        <i class="fa fa-times"></i>
                      </a>
                  <% end %>
                </form>
              </div>
              <div class="table-cell va-middle search-icon">
                <div class="visible-xs">
                  <%= image_tag('search-glass.png') %>
                </div>
              </div>
              <div class="shopping-cart table-cell va-middle">
                <div class="cart-icon">
                  <%= image_tag('shopping-cart.png') %>
                  <% if line_item_count > 0 %>
                      <span class="cart-items-count"> <%= line_item_count %> </span>
                  <% end %>
                </div>
                <div id="shopping-cart-doopdown">
                  <%= render 'spree/shared/shopping_cart_items' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="menu-layer relative">
      <div class="nano">
        <div class="nano-content">
          <%= render 'spree/shared/top_nav' %>
        </div>
      </div>
    </div>
  </div>
</header>

