<% @product.member_products.each do |mem_product| %>
    <% product = mem_product.member %>
    <% if product.present? %>
        <div class="product-row">
          <%= form_for :order, url: populate_orders_path, remote: true, :html => {class: "member-order-populate"} do |f| %>
              <div class="clearfix mb15 product-table-container">
                <div class="product-pic">
                  <a href="<%= spree.brandcruz_product_path(product, taxon_id: @taxon.try(:id)) %>">
                    <%= image_tag get_image(product.id), alt: "Product Image", width: 70 %>
                  </a>
                </div>
                <div class="product-info">
                  <h2>
                    <a href="<%= spree.brandcruz_product_path(product, taxon_id: @taxon.try(:id)) %>"> <%= raw product.name %> </a>
                  </h2>
                  <% if get_all_variant(product.id).present? %>
                      <div class="color-section">
                        <span class="color-name"> Color: </span>

                        <ul class="color-section-ul-stylex custom-color-ul clearfix">
                          <% get_all_variant(product.id).each do |v| %>
                              <li>
                                <input type="radio" class="select_member_varient" id="radio_<%= v.id %>" data-color-name="<%= v.color %>" data-color-price="<%= get_varient_price(v.id) %>" data-variant="<%= v.id %>" name="variant_id" value="<%= v.id %>"/>
                                <label for="radio_<%= v.id %>"><span class="color_image" style="background: url(<%= v.color_image %>)"></span></label>
                              </li>
                          <% end %>
                        </ul>
                      </div>
                  <% end %>
                  <% if product.product_sizes.present? %>
                      <div class="product-size select-member-product-color">
                        <p class="medium">
                          Size:
                        </p>
                        <% if product.product_sizes.present? %>
                            <% product.product_sizes.each do |size| %>
                                <%= radio_button_tag :size, size.short_name, false, id: "variant-size-#{size.id}", class: 'member-variant-size' %>
                                <label for="variant-size-<%= size.id %>" class='member-size-selection'> <%= size.short_name %> </label>
                            <% end %>
                        <% end %>
                      </div>
                  <% end %>
                </div>
                <div class="product-price">
                  <p><%= get_price(product.id) %></p>
                </div>
                <div class="product-btn">
                  <%= render 'member_cart', :product => product %>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>

<% end %>

<script type="text/javascript">
    $(".member-order-populate").submit(function () {
        $(".alert").addClass('hidden');
        $('#service-unavailable').modal();
        return false;
        var element = $(this);
        var size = element.find('.member-variant-size');
        var member_variant = element.find('.select_member_varient');
        if (member_variant.length >= 1 && !member_variant.is(':checked')) {
            element.find(".alert").removeClass('hidden').find('.notification-text').text("Please select color");
            return false
        }

        if (size.length >= 1 && !size.is(':checked')) {
            element.find(".alert").removeClass('hidden').find('.notification-text').text("Please select Size");
            return false
        }
    });

    $('.close-notification').click(function () {
        $(this).parent().addClass('hidden');
    });
</script>