<% @products.each do |product| %>
    <div class="col-sm-6 col-md-4 col-lg-4 custom-column">
      <div class="product-item">
        <a href="<%= spree.brandcruz_product_path(product) %>">
          <%= image_tag '', class: "img-fluid d-inline-block lazy", data: {src: get_image(product)} %>
        </a>

        <div class="list-of-color">
          <div style="margin: 0 20px;">
            <ul class="list-of-color-ul-style clearfix">
              <% product.variants.each do |variant| %>
                  <% if variant.color.present? %>
                      <li style="">
                        <a href="<%= spree.brandcruz_product_path(product) %>" style="background: url(<%= variant.color_image %>); border: 1px solid #ccc;"></a>
                      </li>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="product-caption relative text-center gothamNarrowMedium">
          <h2 style="line-height: 1.38;">
            <a class="gothamNarrowMedium" href="<%= spree.brandcruz_product_path(product) %>"> <%= raw product.name %> </a>
          </h2>

          <h2 class="regular-price-color gothamNarrowMedium"><%= get_orginal_price_for_product(product.id, 'Reg') %> </h2>
          <span class="sale-label gothamNarrowMedium"> Sale: <%= get_price_for_product(product.id) %> </span>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(document).on('ready', function () {
        $(".list-of-color-ul-style").slick({
            infinite: false,
            slidesToShow: 7,
            slidesToScroll: 7,
            dots: false
        });
    });
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.5/jquery.lazy.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("img.lazy").Lazy({
            scrollDirection: 'vertical',
            effect: 'fadeIn',
            visibleOnly: true,
            placeholder: '',
            afterLoad: function (element) {
                element.removeClass('lazy');
            }
        });
    });
</script>