<div id="myModal" class="modal fade" role="dialog" data-backdrop="staticcc" data-keyboard="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <%= image_tag 'header_logo.png' %>
      </div>
      <div class="modal-body clearfix">
        <div class="col-sm-1">
          <div class="flag flag-<%= cookies[:country_code].downcase %>"></div>
        </div>
        <div class="col-sm-11 clearfix">
          <h3><b>NOW SHIPPING TO <%= cookies[:country_name].upcase %></b></h3>
          We make it easy to shop from <%= cookies[:country_name] %> with
          <ul class="make-shopping-easy-bullet">
            <li>All price in <%= cookies[:currency] %></li>
            <li>All Duties and taxes included</li>
            <li>Low international shipping rate</li>
            <li>Guaranteed landed cost (no additional charges at delivery)</li>
          </ul>
          <span style="font-size: 12px; margin-left: 26px;">More information about shipping internationally is available on our site</span>
          <button type="button" class="button button-primary margin_26" data-dismiss="modal">Continue Shopping</button>
          </br><span style="font-size: 12px; margin-left: 26px;">Not shipping to <%= @currency_name %>
          ? <%= link_to 'Click here' %></span>
        </div>
      </div>
      <div class="modal-footer">
        <div class="footer-content" style="text-align: center">
          <p>Enjoy FREE Express Shipping on orders of $200 or more</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(window).on('load', function () {
        <% unless cookies[:country_code] == 'US' %>
        <% unless (cookies[:popup_first_time].present?)%>
        $('#myModal').modal('show');

        setTimeout(function() {
            $('#myModal').modal('hide');
        }, 5000);

        <% end %>
        <% end %>
    });

    $('#myModal').on('hidden.bs.modal', function () {
        <%= cookies[:popup_first_time] = 'false' %>
    });
</script>