<div class="bz-benefits clearfix">
  <div class="row">
    <div class="col-md-4">
      <div class="each-benefits">
        <%= link_to '/secure_shopping', class: 'hover-no-underline' do %>
            <div class="eb-left pull-left">
              <%= image_tag('shop-with-confidence.png') %>
            </div>
            <div class="eb-right">
              <h3 class="mt20">Shop with confidence</h3>

              <p>
                Shopping on Brand Cruz is safe and secure. Guaranteed!
              </p>

              <p>
                You`ll pay nothing if unauthorized charges are made to your credit card as a result of shopping at
                Brandcruz.com.
              </p>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="each-benefits">
        <%= link_to '/secure_shopping', class: 'hover-no-underline' do %>
            <div class="eb-left pull-left">
              <%= image_tag('safe-shopping-gurantee.png') %>
            </div>
            <div class="eb-right">
              <h3 class="mt20">Safe shopping guarantee</h3>

              <p>
                All information is encrypted and transmitted without risk using a Secure Sockets Layer (SSL) protocol.
              </p>
              <a href="/secure_shopping" class="gothamNarrowBold"><u>How we protect your personal data?</u></a>
            </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="each-benefits">
        <%= link_to "#{cookies[:country_code] == 'US' ? domestic_path : spree.international_path}", class: 'hover-no-underline' do %>
            <div class="eb-left pull-left">
              <%= image_tag('free-shipping.png') %>
            </div>
            <div class="eb-right">
              <h3 class="mt20">Free shipping and free returns</h3>

              <p>
                If, for any reason, you are unsatisfied with your purchase from BrandCruz.com, Inc. you may return it in
                it`s original condition within 60 days for a refund.
                We`ll even pay for return shipping!
              </p>
              <a href="<%= cookies[:country_code] == 'US' ? domestic_path : spree.international_path %>" class="gothamNarrowBold">
                <u>Read our shipping and return policies</u>
              </a>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="privacy-policy-info clearfix">
  <h4 class="gothamNarrowBold">Privacy Policy</h4>

  <p>BrandCruz.com respects your privacy. We don`t rent or sell your personal information to anyone.</p>
  <a href="/privacy_policy" class="gothamNarrowBold"><u>Read our Privacy Policy</u></a>
</div>