<div id="service-unavailable" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: solid 1px #ccc !important;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Service Unavailable</h4>
      </div>
      <div class="modal-body text-center">
        <%= image_tag 'sad_face.jpg', style: 'width: 250px;' %>
        <div class="service-message mt10">
          We will start accepting any new order in 72 hours. We are sorry for any inconvenience. For more details email
          us at <span class="mark-text"> care@brandcruz.com </span>
        </div>
      </div>
      <div class="modal-footer" style="background-color: #fdfdfd !important; border-top: solid 1px #ccc !important;">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="background: #333333; color: #ffffff;">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->