<ul class="cart-dropdown">
  <% if simple_current_order.item_count > 0 %>
      <div class="cart-dropdown-list">
        <div class="cart-header uppercase">
          <i class="fa fa-shopping-bag"></i> <%= line_item_count %> Items in your bag
          <span class="pull-right close-cart-dropdown"><i class="fa fa-times"></i></span>
        </div>
        <% simple_current_order.line_items.each do |item| %>
            <li>
              <div class="media">
                <div class="selected-items clearfix">
                  <div class="col-xs-9 col-sm-8">
                    <div class="media-left media-middle">
                      <%= link_to spree.brandcruz_product_path(item.product) do %>
                          <%= image_tag get_image(item.product.id), class: "media-object" %>
                      <% end %>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading gothamNarrowBold">
                        <a href=""><%= item.product.taxons.first.name %></a>
                      </h4>
                      <%= item.product.name %>
                      <div class="cart-attributes uppercase">
                        <span class="block"><b>Size:</b> <%= item.size %> </span>
                                    <span class="block"><b>Color:</b>
                                      <%= item.variant.color_image.present? ? image_tag(item.variant.color_image, style: 'width: 20px;') : 'Default' %></span>
                        <span class="block"><b>QTY:</b> <%= item.quantity %></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3 col-sm-4 text-right">
                    <%= price_with_currency(item.price) %>
                  </div>
                </div>
              </div>
            </li>
        <% end %>
      </div>
      <div class="cart-footer uppercase">
        <i class="fa fa-shopping-bag"></i> <%= line_item_count %> Items in your bag
          <span class="pull-right gothamNarrowBold totalCount">
            Estimated Total: <span class="estimated-total-amount"> <%= price_with_currency(simple_current_order.total) %> </span>
          </span>
      </div>
      <div class="checkout-link gothamHTFMedium uppercase clearfix"><a href="/cart">Checkout</a></div>
  <% else %>
      <p class="empty-cart"> Your cart is empty </p>
  <% end %>
</ul>