<% max_level = Spree::Config[:max_level_in_taxons_menu] || 0 %>
<%#= @taxonomies.inspect %>
<nav id="taxonomies" class="sidebar-item" data-hook>
  <%# Spree::Taxon.where("parent_id IS NULL").each do |taxonomy| %>
    <%# cache [I18n.locale, taxonomy, max_level, @taxon] do %>
      <h4 class='taxonomy-root'><%#= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h4>
      <%#= taxons_tree(taxonomy.root, @taxon, max_level) %>
    <%# end %>
  <%# end %>
</nav>
