<div class="login-block">
  <h5>CREATE AN ACCOUNT</h5>
  <%= form_for Spree::User.new, :as => :spree_user, :url => spree.registration_path do |f| %>
      <div data-hook="signup_inside_form">
        <div id="password-credentials" class="input-wrap">
          <p>
            <%= f.label :email, 'Email Address' %>
            <%= f.email_field :email, :class => 'login-input-type form-control required', :placeholder => Spree.t(:email) %>
            <span class="form-error"></span>
          </p>

          <p>
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password, :class => 'login-input-type form-control required', :placeholder => Spree.t(:password) %>
            <span class="form-error"></span>
          </p>

          <p>
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password_confirmation, :class => 'login-input-type form-control required', :placeholder => Spree.t(:confirm_password) %>
            <span class="form-error"></span>
          </p>
        </div>
        </div>

      <p><%= f.submit 'CREATE AN ACCOUNT', :class => 'button button-primary' %></p>
      <!--<p class="form-group text-xs-right"><input type="submit" value="SIGN IN" class="button button-primary"></p>-->
  <% end %>
</div>