<div id="main-container">
  <div class="currency-content">
    <h2>INTERNATIONAL SHIPPING</h2>

    <div class="currency-change-option clearfix">
      <p><b>Select the Country you would like to ship and the currency you would like to shop</b></p>

      <%= form_tag('/save_change_currency', method: "get") do %>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag "Country:" %>
              <%= country_select :country, '', {selected: cookies[:country_code]}, {:class => "form-control select_country", :id => 'select_country'} %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag "Currency:" %>
              <%= select_tag :currency, options_for_select(Money::Currency::table.collect { |key, value| ["#{value[:name]}-#{key.to_s.upcase}", key.to_s] }, cookies[:currency].downcase), class: 'form-control', id: 'select_currency' %>
            </div>
          </div>
          <div class="form-group pull-right">
           <div class="col-sm-8" style=" padding-top: 6px;">
              <span>
               <img class="flag-small flag-small-us">
            </span>
            <span style="margin-left: 10px; margin-right: 10px;">
               <%= link_to  'Back to U.S Site','/back_to_us' %>
            </span>
           </div>
            <div class="col-sm-4">
              <%= submit_tag 'SAVE & CONTINUE SHOPPING', class: "pull-right button button-primary" %>
            </div>
          </div>
      <% end %>
    </div>
    <ul>
      <li>View the order total (including shipping fees, customs tariffs and taxes) at checkout</li>
      <li>Your total is guaranteed at the exchange rate set when your order is placed</li>
      <li>No additional payment will be required upon delivery of your order</li>
    </ul>
  </div>
</div>

<script type="text/javascript">
    $('#select_country').chosen();
    $('#select_currency').chosen();

    $('#select_country').change(function() {
       var country_code = $(this).val()
        $.ajax({
            url: '/get_currency_from_country',
            type: 'get',
            dataType: 'script',
            data: {country_code: country_code}
        });
    });
</script>