<main class="main">
  <!-- Go Quickly to Section -->
  <div class="go-quickly">
    <div class="container">
      <div class="mytable">
        <div class="gq-text table-cell va-middle gothamNarrowBold">
          Go quickly to &nbsp;<i class="fa fa-long-arrow-right"></i>
        </div>
        <div class="table-cell gq-links va-middle quick-link-wrapper">
          <ul class="pull-right clearfix floated-list">
            <li>
              <a href="/c/home-essentials/furniture">
                Up to Extra <span class="mark-text"> 55% off Furniture </span>
              </a>
            </li>
            <li><a href="/c/home-essentials/rugs">Up to Extra <span class="mark-text"> 25% off Area Rugs </span></a>
            </li>
            <li><a href="/c/womens-clothing/jeans">Lowest price <span class="mark-text"> Jeans store </span></a></li>
            <li><a href="/m/watches">Trending <span class="mark-text"> Watches </span></a></li>
            <li><a href="/c/womens-shoes/all-womens-shoes"><span class="mark-text"> Shoes Sale </span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="landing-image-wrapper">
      <%= image_tag('home/landing.jpg', class: 'img-responsive') %>
      <h1 style="font-size: 14px; margin-bottom: 0; line-height: 1.5"><%= link_to 'Shop Women', '/m/women', class: 'shop-women' %></h1>
      <h1 style="font-size: 14px; margin-bottom: 0; line-height: 1.5"><%= link_to 'Shop Men', '/m/men', class: 'shop-men' %></h1>
    </div>

    <div class="home-offers row-1">
      <div class="row">
        <div class="col-sm-6 paddingLR8px marginT15px">
          <%= link_to '/m/handbags' do %>
              <%= image_tag('home/offer-1.jpg', class: 'img-responsive') %>
          <% end %>
        </div>
        <div class="col-sm-6 paddingLR8px marginT15px">
          <%= link_to '/c/womens-shoes/evening-and-bridal' do %>
              <%= image_tag('home/offer-2.jpg', class: 'img-responsive') %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="home-offers row-2">
      <div class="row">
        <div class="col-sm-6 paddingLR8px marginT15px">
          <%= link_to '/m/women' do %>
              <%= image_tag('home/offer-3.jpg', class: 'img-responsive') %>
          <% end %>
        </div>
        <div class="col-sm-6 paddingLR8px">
          <div class="marginT15px">
            <%= link_to '/c/handbag-brands/designer-handbags' do %>
                <%= image_tag('home/offer-4.jpg', class: 'img-responsive') %>
            <% end %>
          </div>
          <div class="marginT15px">
            <%= link_to '/c/mens-shoes/boots' do %>
                <%= image_tag('home/offer-5.jpg', class: 'img-responsive') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="vspace15px"></div>
    <div class="home-offers row-3">
      <div class="row">
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/m/handbags' do %>
              <%= image_tag('home/bags.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Bags</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/c/womens-shoes/sandals' do %>
              <%= image_tag('home/sandals.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Sandals</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/m/beauty' do %>
              <%= image_tag('home/beauty.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Beauty</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/m/kids' do %>
              <%= image_tag('home/kids.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Kids</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/m/women' do %>
              <%= image_tag('home/women.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Women</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/m/jewelry' do %>
              <%= image_tag('home/jewelry.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Jewelry</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/m/handbags' do %>
              <%= image_tag('home/vintage.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Vintage & Estate</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/m/kids' do %>
              <%= image_tag('home/bags.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Kids</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/c/womens-clothing/jackets' do %>
              <%= image_tag('home/coats.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Coats & Jackets</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/c/womens-clothing/sweaters' do %>
              <%= image_tag('home/cashmere.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Cashmere</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/m/beauty' do %>
              <%= image_tag('home/dresses.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Beauty</h3>
          <% end %>
        </div>
        <div class="col-xs-6 col-sm-3 paddingLR8px">
          <%= link_to '/m/home' do %>
              <%= image_tag('home/home.jpg', class: 'img-responsive') %>
              <h3 class="offer-caption">Home</h3>
          <% end %>
        </div>
      </div>
    </div>
    <div class="home-offers row-4">
      <div class="shop-more">
        <h3>Shop Even More Deals for Your Home</h3>

        <div class="row">
          <div class="col-xs-6 col-sm-4 paddingLR8px">
            <div class="sm-product">
              <%= link_to '/c/living-room-furniture' do %>
                  <%= image_tag('home/living-room.jpg', class: 'img-responsive') %>
                  <div class="sm-caption">
                    <span><b>Up to 55% off</b></span>
                    <h2>Living Room Furniture*</h2>
                  </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-6 col-sm-4 paddingLR8px">
            <div class="sm-product">
              <%= link_to '/c/bedroom-furniture' do %>
                  <%= image_tag('home/bedroom-furniture.jpg', class: 'img-responsive') %>
                  <div class="sm-caption">
                    <span><b>Up to 60% off</b></span>
                    <h2>Bedroom Furniture*</h2>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 paddingLR8px">
            <div class="sm-product">
              <%= link_to '/c/dining-sets' do %>
                  <%= image_tag('home/dinning_furniture.jpg', class: 'img-responsive') %>
                  <div class="sm-caption">
                    <span><b>Up to 50% off</b></span>
                    <h2>Dining Room Furniture*</h2>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 paddingLR8px">
            <div class="sm-product">
              <%= link_to '/c/outdoor-furniture' do %>
                  <%= image_tag('home/garder-patio.jpg', class: 'img-responsive') %>
                  <div class="sm-caption">
                    <span><b>Up to Extra 10% off</b></span>
                    <h2>Garden and Patio*</h2>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 paddingLR8px">
            <div class="sm-product">
              <%= link_to '/c/bedroom-and-mattresses/mattresses' do %>
                  <%= image_tag('home/mattresses.jpg', class: 'img-responsive') %>
                  <div class="sm-caption">
                    <span><b>Up to 60% off</b></span>
                    <h2>Mattresses*</h2>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 paddingLR8px">
            <div class="sm-product">
              <%= link_to '/c/more-for-the-home/lighting-and-lamps' do %>
                  <%= image_tag('home/lightings.jpg', class: 'img-responsive') %>
                  <div class="sm-caption">
                    <span><b>Up to Extra 10% off</b></span>
                    <h2>Lighting & Ceiling Fans*</h2>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-offers row-5">
      <%= link_to '/c/womens-clothing/swimwear' do %>
          <%= image_tag('home/savings_banner.jpg', title: 'Sunshine & Everyday Savings', class: 'img-responsive') %>
      <% end %>
    </div>
    <div class="vspace15px"></div>
    <!--<div class="home-offers row-6">-->
    <!--<div class="row">-->
    <!--<div class="col-xs-6 col-sm-4 paddingLR8px">-->
    <!--<%#= link_to '#' do %>-->
    <!--<%#= image_tag('home/mini_bags.jpg', title: 'Our favorite mini bags', class: 'img-responsive') %>-->
    <!--<%# end %>-->

    <!--<div class="vspace15px"></div>-->
    <!--</div>-->
    <!--<div class="col-xs-6 col-sm-4 paddingLR8px">-->
    <!--<%#= link_to '#' do %>-->
    <!--<%#= image_tag('home/cozy_sweators.jpg', title: 'Cozy Sweaters', class: 'img-responsive') %>-->
    <!--<%# end %>-->

    <!--<div class="vspace15px"></div>-->
    <!--</div>-->
    <!--<div class="col-xs-6 col-sm-4 paddingLR8px">-->
    <!--<%#= link_to '#' do %>-->
    <!--<%#= image_tag('home/statement_jewelry.jpg', title: 'Statement Jewelry', class: 'img-responsive') %>-->
    <!--<%# end %>-->

    <!--<div class="vspace15px"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</main>

<%= render 'spree/shared/public_notice' %>