$("#line_iten_total_<%= @line_item.id %>").html("<%= price_with_currency(@line_item.price * @line_item.quantity) %>");
$('.order-total-amount').html("<%= price_with_currency(@line_item.order.total) %>");
$('.order-sub-total-amount').html("<%= price_with_currency(@line_item.order.amount) %>");