<div id="main-container">
  <div class="container">
    <div class="row space-20">
      <div class="col-md-6">
        <div class="login-block">
          <h5>Sign In</h5>

          <p>You have previously created an account at BrandCruz.com.</p>
          <%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
              <div id="password-credentials" class="input-wrap">
                <p>
                  <%= f.label :email, 'Email Address' %>
                  <%= f.email_field :email, :class => 'login-input form-control required', :tabindex => 1, autofocus: true %>
                  <span class="form-error"></span>
                </p>

                <p>
                  <%= f.label :password, 'Password' %>
                  <%= f.password_field :password, :class => 'login-input form-control required', :tabindex => 2 %>
                  <span class="form-error"></span>
                </p>
              </div>
              <p>
                <%= link_to 'Forgot Password?', spree.recover_password_path %>
              </p>

              <p class="form-group"><input type="submit" value="SIGN IN" class="button button-primary">
              </p>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="login-block">
          <h5>CREATE AN ACCOUNT</h5>
          <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
              <div data-hook="signup_inside_form">
                <div id="password-credentials" class="input-wrap">
                  <p>
                    <%= f.label :email, 'Email Address' %>
                    <%= f.email_field :email, :class => 'login-input form-control required', :placeholder => Spree.t(:email) %>
                    <span class="form-error"></span>
                  </p>

                  <p>
                    <%= f.label :password, 'Password' %>
                    <%= f.password_field :password, :class => 'login-input form-control required', :placeholder => Spree.t(:password) %>
                    <span class="form-error"></span>
                  </p>

                  <p>
                    <%= f.label :password, 'Password' %>
                    <%= f.password_field :password_confirmation, :class => 'login-input form-control required', :placeholder => Spree.t(:confirm_password) %>
                    <span class="form-error"></span>
                  </p>
                </div>
              </div>
              <p><%= f.submit 'CREATE AN ACCOUNT', :class => 'button button-primary' %></p>
          <% end %><br>
        </div>
      </div>
    </div>
    <%= render 'spree/shared/service_section' %>
  </div>
</div>

<%= render 'spree/shared/form_validation_script' %>